Repository doctrine/dbal, pull requests merged in 2018-12, with the labels that each got.

#3365 Reorganize Travis build matrix
  .travis.yml
Labels: CI, Improvement

#3370 Removed 2.7 from README
  README.md
Labels: Documentation, Improvement

#3369 Handle binding errors in OCI8Statement::execute() and MySQLiStatement::execute()
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
Labels: BC Break, Error Handling, Improvement, Prepared Statements, mysqli, oci8

#3359 Removed DataAccessTest::testFetchColumnNonExistingIndex() since it covers a bug in PDO
  UPGRADE.md
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
Labels: Deprecation, PDO, Prepared Statements, Test Suite

#3339 ContinuousPHP configuration for PDO Oracle driver
  .gitignore
  .scrutinizer.yml
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/continuousphp/bootstrap.php
  tests/continuousphp/install-pdo-oci.sh
  tests/continuousphp/pdo-oci.phpunit.xml
Labels: CI, Drivers, Improvement, pdo_oracle

#3372 Travis CI tests on MySQL 8.0
  .scrutinizer.yml
  .travis.yml
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  tests/travis/install-mysql-8.0.sh
Labels: CI, MySQL

#3374 Clean up MySqlPlatform::getListTableIndexesSQL() fields
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
Labels: Improvement, MySQL, Platforms, Schema Introspection, Schema Managers

#3382 Reverted strict comparison back to loose because of a new regression
  lib/Doctrine/DBAL/Schema/Comparator.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  phpcs.xml.dist
  tests/Doctrine/Tests/DBAL/Functional/Schema/ComparatorTest.php
Labels: Bug, Regression, Schema Comparison, Types

#3378 [SQL Anywhere] Fix query limit values "0" and "null"
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLAnywherePlatformTest.php
Labels: Bug, Platforms, Query Limit/Offset Modification, SQL Anywhere

#3375 [SQL Anywhere] Fix bound parameter references in PHP 7
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
Labels: Bug, Compatibility, Prepared Statements, SQL Anywhere, sqlanywhere

#3385 [SQL Anywhere] Fix fetching empty values via fetchAll()
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
Labels: Bug, Drivers, Prepared Statements, SQL Anywhere, sqlanywhere

#3386 [SQL Anywhere] Fix view schema introspection test
  tests/Doctrine/Tests/DBAL/Functional/Schema/SQLAnywhereSchemaManagerTest.php
Labels: Bug, SQL Anywhere, Schema Introspection, Test Suite, Testing

#3388 Require PHP 7.2, drop <7.2 in Composer & on CI
  .scrutinizer.yml
  .travis.yml
  composer.json
  composer.lock
Labels: Improvement, PHP

#3311 Fix: Ensuring correct ALTER TABLE statement for creation of an AUTO INCREMENT column as new PRIMARY KEY
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
Labels: Bug, Indexes, MySQL, Schema Comparison

#3381 ResultCacheStatement lost its cache capability on fetchAll method
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
Labels: Bug, Cache, Regression

#3305 Fix Fetch mode query in MasterSlaveConnection
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  tests/Doctrine/Tests/DBAL/Functional/MasterSlaveConnectionTest.php
Labels: Bug, Connections, Prepared Statements, Query

#3393 Fixed parsing MySQL create table flags (options without a value)
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
Labels: Bug, MySQL, Schema Introspection

#3394 Grouped PHPStan and PHP_CodeSniffer for parallel execution
  .travis.yml
Labels: CI, Improvement

#3392 fixed annotations of parameter $columns in Table
  lib/Doctrine/DBAL/Schema/Table.php
Labels: Bug, Documentation, Regression

#3408 Removed unused build files
  build.properties
  build.xml
Labels: Improvement

#3407 CI: Test against MySQL 8.0 on Travis
  .travis.yml
  tests/Doctrine/Tests/DBAL/Functional/Driver/Mysqli/ConnectionTest.php
  tests/travis/install-mysql-8.0.sh
  tests/travis/mysql.docker.travis.xml
  tests/travis/mysqli.docker.travis.xml
Labels: CI, Improvement, MySQL

#3122 Introduced a smoke testing phase on Travis to run SQLite tests and CS checks first
  .travis.yml
Labels: CI, Improvement

#3412 `CREATE_OPTIONS` is nullable in MySQL
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
Labels: Bug, MySQL, Regression, Schema Introspection

#3415 Consider column lengths when comparing indices
  lib/Doctrine/DBAL/Schema/Index.php
  tests/Doctrine/Tests/DBAL/Schema/IndexTest.php
Labels: Bug, Indexes, Regression, Schema Comparison

#3418 Add column charset for MySql
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
Labels: Columns, Improvement, MySQL, Schema, Schema Definition, Schema Introspection, Schema Managers
