Repository doctrine/dbal, pull requests merged in 2018-09, with the labels that each got.

#3268 Force Sequence::$initialValue type
  lib/Doctrine/DBAL/Schema/Sequence.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
Labels: Bug, PDO, Schema Comparison, Sequences

#3226 Ignore case when matching ARRAY
  lib/Doctrine/DBAL/SQLParserUtils.php
  tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php
Labels: Bug, PostgreSQL, Prepared Statements, Requires Review, SQL Parser

#3280 Use behaviuor instead of behavior
  .github/ISSUE_TEMPLATE/Bug.md
Labels: Documentation, Improvement

#3285 Remove old comment from MysqliStatement
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
Labels: Documentation, Improvement, Prepared Statements, mysqli

#3283 MariaDB improvements, support 10.3
  .travis.yml
  docs/en/reference/platforms.rst
  lib/Doctrine/DBAL/Platforms/MariaDb1027Platform.php
  tests/Doctrine/Tests/DBAL/Platforms/MariaDb1027PlatformTest.php
Labels: CI, Improvement, MariaDB, Platforms

#3297 Do not generate SID or SERVICE_NAME when dbname or service name is not specified
  lib/Doctrine/DBAL/Driver/AbstractOracleDriver.php
  lib/Doctrine/DBAL/Driver/AbstractOracleDriver/EasyConnectString.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractOracleDriver/EasyConnectStringTest.php
Labels: Bug, Configuration, Connecting, Improvement, Oracle

#3217 Fix that MysqliStatement cannot handle streams
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
Labels: Improvement, MySQL, Prepared Statements, Query, mysqli
