Repository doctrine/dbal, pull requests merged in 2018-08, with the labels that each got.

#3235 Use PSR-4 autoloader
  composer.json
Labels: Improvement

#3239 2.8 in README & branch alias to 2.9
  README.md
  composer.json
Labels: Documentation, Improvement

#3241 Removed dbal:import CLI command
  UPGRADE.md
  lib/Doctrine/DBAL/Tools/Console/Command/ImportCommand.php
  lib/Doctrine/DBAL/Tools/Console/ConsoleRunner.php
Labels: BC Break, Blocker, Console, Tools

#3244 Deprecated dbal:import CLI command
  UPGRADE.md
  lib/Doctrine/DBAL/Tools/Console/Command/ImportCommand.php
Labels: Console, Deprecation, Tools

#3248 Made the OFFSET in LIMIT queries non-nullable integer defaulting to 0
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServer2012Platform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLAnywherePlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLServerPlatformTest.php
Labels: BC Break, Improvement, Platforms, Query Limit/Offset Modification

#3252 Replaced call_user_func_array() of a fixed method with the usage of variadic arguments
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
Labels: Code Style, Improvement

#3253 Deprecated usage of the NULL offset in LIMITed queries
  UPGRADE.md
Labels: Deprecation, Improvement, Platform Detection

#3254 Throw ConversionException when unserialization fail for array and object types
  lib/Doctrine/DBAL/Types/ArrayType.php
  lib/Doctrine/DBAL/Types/ConversionException.php
  lib/Doctrine/DBAL/Types/ObjectType.php
  tests/Doctrine/Tests/DBAL/Types/ArrayTest.php
  tests/Doctrine/Tests/DBAL/Types/ObjectTest.php
Labels: Improvement, Type Conversion, Types

#3259 Update export ignores
  .gitattributes
  composer.json
  composer.lock
Labels: Improvement

#3257 Remove Doctrine\DBAL\Types\Type::__toString()
  UPGRADE.md
  lib/Doctrine/DBAL/Types/Type.php
Labels: BC Break, Improvement, Types

#3258 Deprecate Doctrine\DBAL\Types\Type::__toString()
  UPGRADE.md
  lib/Doctrine/DBAL/Types/Type.php
Labels: Deprecation, Types

#3201 Fix support for URL to account for master-slave and pooling-shard connections
  lib/Doctrine/DBAL/DriverManager.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
Labels: Configuration, Improvement, Sharding

#3255 Remove Doctrine\DBAL\Types\Type::getDefaultLength()
  UPGRADE.md
  lib/Doctrine/DBAL/Types/StringType.php
  lib/Doctrine/DBAL/Types/Type.php
  tests/Doctrine/Tests/DBAL/Types/StringTest.php
Labels: BC Break, Improvement, Types

#3256 Deprecate Doctrine\DBAL\Types\Type::getDefaultLength()
  UPGRADE.md
  lib/Doctrine/DBAL/Types/Type.php
Labels: Deprecation, Types

#3275 Add .doctrine-project.json to root of the project.
  .doctrine-project.json
  composer.json
Labels: Improvement
