Repository doctrine/dbal, pull requests merged in 2018-04, with the labels that each got.

#3073 2.5.x branch should not contain the PHP 5.5-only ::class syntax
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
Labels: Bug, Compatibility, PHP

#3084 README: Add 2.7, drop 2.5
  README.md
Labels: Documentation

#3090 Add symfony tests listener
  tests/appveyor/mssql.sql2008r2sp2.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2012sp1.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
Labels: CI, Test Suite, Testing

#3089 [bug] Don't skip column options.
  lib/Doctrine/DBAL/Schema/Column.php
  tests/Doctrine/Tests/DBAL/Schema/ColumnTest.php
Labels: BC Break, Schema, Schema Definition

#3083 Document the correct way of configuring a MariaDB database with serverVersion
  docs/en/reference/configuration.rst
Labels: Documentation, MariaDB

#3085 Tests: remove implicit verbose flag
  phpunit.xml.dist
  tests/continuousphp/oci8.phpunit.continuousphp.xml
  tests/travis/mariadb.travis.xml
  tests/travis/mysql.travis.xml
  tests/travis/mysqli.travis.xml
  tests/travis/pdo_sqlsrv.travis.xml
  tests/travis/pgsql.travis.xml
  tests/travis/sqlite.travis.xml
  tests/travis/sqlsrv.travis.xml
Labels: CI, Test Suite, Testing

#3095 CI: Add missing listener for MariaDB @ mysqli
  tests/travis/mariadb.mysqli.travis.xml
Labels: CI

#3088 Fix #3082: Add BC for PDO-only fetch modes
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
Labels: Compatibility, Deprecation, Drivers, PDO, Regression

#3097 Fix compatibility for pre-2.7 DateIntervalType format
  lib/Doctrine/DBAL/Types/DateIntervalType.php
  tests/Doctrine/Tests/DBAL/Types/DateIntervalTest.php
Labels: BC Fix, Blocker, Bug, Type Conversion, Types

#3102 Use newer PHPUnit to prevent crashes on failures
  composer.json
Labels: Test Suite

#3099 Consistent PHPUnit configuration across environments
  phpunit.xml.dist
  tests/appveyor/mssql.sql2008r2sp2.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2012sp1.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
  tests/continuousphp/oci8.phpunit.continuousphp.xml
  tests/travis/mariadb.mysqli.travis.xml
  tests/travis/mariadb.travis.xml
  tests/travis/mysql.travis.xml
  tests/travis/mysqli.travis.xml
  tests/travis/pdo_sqlsrv.travis.xml
  tests/travis/pgsql.travis.xml
  tests/travis/sqlite.travis.xml
  tests/travis/sqlsrv.travis.xml
Labels: CI, Test Suite

#3080 [DBAL-3079] Reworked the usage of PDO in PDOConnection from inheritance to composition
  UPGRADE.md
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Driver/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Statement.php
  tests/Doctrine/Tests/DBAL/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLSrv/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Ticket/DBAL630Test.php
  tests/Doctrine/Tests/DBAL/StatementTest.php
  tests/Doctrine/Tests/Mocks/DriverConnectionMock.php
  tests/Doctrine/Tests/Mocks/DriverMock.php
Labels: BC Break, Connections, Drivers, Improvement, PDO, Prepared Statements

#3112 Removed hard-coded configuration filenames from the test runner
  run-all.sh
Labels: Testing

#3117 Added badges for the develop branch in README
  README.md
Labels: Documentation

#3115 Replaced ArrayIterator with StatementIterator in Portability\Connection
  lib/Doctrine/DBAL/Portability/Statement.php
  tests/Doctrine/Tests/DBAL/Driver/StatementIteratorTest.php
  tests/Doctrine/Tests/DBAL/Portability/StatementTest.php
Labels: Bug, Performance, Prepared Statements
