Repository doctrine/dbal, pull requests merged in 2018-11, with the labels that each got.

#2412 Add mysql specific indexes with lengths
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/Index.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Improvement, Indexes, MySQL

#2415 Add some MySQL platform data in Tables
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
Labels: Improvement, Missing Tests, MySQL, Platforms, Schema Introspection

#3337 Fix of links in documentation
  docs/en/reference/configuration.rst
  docs/en/reference/sharding.rst
  docs/en/reference/sharding_azure_tutorial.rst
Labels: Documentation, Improvement

#3357 Fix typo
  phpunit.xml.dist
Labels: Documentation, Improvement, Test Suite

#3363 Remove redundant implements
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
Labels: Code Style, Connections, Improvement, pdo_sqlsrv

#3362 [SQL Anywhere] Disable exact row count retrieval on SQL Anywhere
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
Labels: Bug, Connecting, Connections, Improvement, SQL Anywhere, sqlanywhere

#3364 Clean up redundant annotations and dead code in tests
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DrizzlePlatform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Schema/Synchronizer/SingleDatabaseSynchronizer.php
  lib/Doctrine/DBAL/Schema/Table.php
  lib/Doctrine/DBAL/Tools/Console/Command/ReservedWordsCommand.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/MasterSlaveConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ModifyLimitQueryTest.php
  tests/Doctrine/Tests/DBAL/Functional/PortabilityTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
Labels: Code Style, Improvement
