Repository doctrine/dbal, pull requests merged in 2018-05, with the labels that each got.

#3108 Fixed inconsistency in calculating date difference between platforms
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/DateExpressionTest.php
Labels: Bug, Failing Test, Oracle, SQLite

#3136 Add GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/BC_Break.md
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Support_Question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Improvement

#3135 AppVeyor tweaks, retry coverage upload on failure
  .appveyor.yml
  .travis.yml
Labels: CI

#3133 [WIP] Travis DB2
  .scrutinizer.yml
  .travis.yml
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Types/DateIntervalType.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/DateExpressionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/Db2SchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/travis/ibm_db2.travis.xml
  tests/travis/install-db2-ibm_db2.sh
  tests/travis/install-db2.sh
Labels: CI, DB2, WIP

#3157 When building a limit query, zero offset without a limit should be ignored
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServer2012Platform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPostgreSqlPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
Labels: Improvement, MySQL, Oracle, Platforms, PostgreSQL, Query Limit/Offset Modification, SQL Server, SQLite, WIP

#3160 Test against Postgres 11
  .travis.yml
  tests/travis/Dockerfile-postgres11
  tests/travis/install-postgres-11.sh
Labels: CI, Platforms, PostgreSQL, Test Suite, Testing

#3149 Introduced binary binding type to support binary parameters on Oracle
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Statement.php
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/ParameterType.php
  lib/Doctrine/DBAL/Types/BinaryType.php
  tests/Doctrine/Tests/DBAL/Functional/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Types/BinaryTest.php
Labels: Bug, Drivers, Prepared Statements, oci8

#3103 Added keywords OVER and RETURNING for MariaDb102
  lib/Doctrine/DBAL/Platforms/Keywords/MariaDb102Keywords.php
Labels: Improvement, MariaDB, Reserved Keywords
