Repository doctrine/dbal, pull requests merged in 2018-10, with the labels that each got.

#3307 Test against the latest stable sqlsrv extension
  .appveyor.yml
  tests/travis/install-mssql-pdo_sqlsrv.sh
  tests/travis/install-mssql-sqlsrv.sh
Labels: CI, Improvement, pdo_sqlsrv, sqlsrv

#3308 Implement {Configuration#getSchemaAssetsFilter}
  lib/Doctrine/DBAL/Configuration.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  tests/Doctrine/Tests/DBAL/Schema/DB2SchemaManagerTest.php
Labels: Improvement, Schema Managers

#3316 Deprecated regex-based asset filters
  UPGRADE.md
  lib/Doctrine/DBAL/Configuration.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
Labels: Configuration, Deprecation, Schema Managers

#3317 Implemented proper escaping of string literals in platforms and schema managers
  lib/Doctrine/DBAL/Platforms/DrizzlePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  tests/Doctrine/Tests/DBAL/Schema/DB2SchemaManagerTest.php
Labels: Improvement, Platforms, Quoting, Schema Managers, WIP

#3320 Trying to fix failing DB builds
  tests/travis/install-db2-ibm_db2.sh
Labels: CI, ibm_db2

#3309 Implemented handling BLOBs represented as stream resources for IBM DB2
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
Labels: Improvement, Prepared Statements, ibm_db2

#3319 remove ClassLoader
  docs/en/reference/introduction.rst
Labels: Documentation, Improvement

#3325 Updated PHPUnit to 7.4
  composer.json
  composer.lock
Labels: CI, Improvement, Testing

#3158 postgres: correctly produce alter table sql comment to update column definition
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPostgreSqlPlatformTestCase.php
Labels: Bug, PostgreSQL, Schema, Schema Comparison, Schema Managers, Type Mapping, Types

#3277 Lost parameters: wrong ESCAPED_BRACKET_QUOTED_TEXT
  lib/Doctrine/DBAL/SQLParserUtils.php
  tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php
Labels: Bug, PostgreSQL, Prepared Statements

#3331 Fetch all should use the driver statement's fetchAll method
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
Labels: Drivers, Improvement, Performance, Query
