Repository doctrine/dbal, pull requests merged in 2018-03, with the labels that each got.

#3009 PHPUnit 7
  composer.json
  tests/Doctrine/Tests/DbalPerformanceTestListener.php
Labels: Improvement, Test Suite, WIP

#3040 Drop Drizzle support
  UPGRADE.md
  docs/en/reference/configuration.rst
  docs/en/reference/introduction.rst
  docs/en/reference/platforms.rst
  docs/en/reference/schema-representation.rst
  docs/en/reference/types.rst
  lib/Doctrine/DBAL/Driver/DrizzlePDOMySql/Connection.php
  lib/Doctrine/DBAL/Driver/DrizzlePDOMySql/Driver.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/Platforms/DrizzlePlatform.php
  lib/Doctrine/DBAL/Platforms/Keywords/DrizzleKeywords.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Schema/DrizzleSchemaManager.php
  tests/Doctrine/Tests/DBAL/Driver/DrizzlePDOMySql/DriverTest.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/ExceptionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/DrizzleSchemaManagerTest.php
Labels: BC Break, Drivers, Drizzle, Platforms

#3041 Introduce a null SQL logger
  UPGRADE.md
  lib/Doctrine/DBAL/Configuration.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Logging/DebugStack.php
  lib/Doctrine/DBAL/Logging/EchoSQLLogger.php
  lib/Doctrine/DBAL/Logging/LoggerChain.php
  lib/Doctrine/DBAL/Logging/NullLogger.php
  lib/Doctrine/DBAL/Logging/SQLLogger.php
  lib/Doctrine/DBAL/Statement.php
  tests/Doctrine/Tests/DBAL/Logging/DebugStackTest.php
Labels: BC Break, Logging, Strict Typing

#3042 Don't catch Exception anymore
  lib/Doctrine/DBAL/Connection.php
Labels: Connections, Error Handling, Improvement, Transactions

#3045 When rendering SQL, only render the alias if it's different from the table name
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Improvement, Query

#2617 Testing of MSSQL on Windows with AppVeyor
  .appveyor.yml
  .gitattributes
  composer.json
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLServerPlatformTest.php
  tests/appveyor/mssql.sql2008r2sp2.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2012sp1.sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  tests/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
Labels: CI, New Feature, SQL Server, Testing

#3050 Test SQL Server 17 on Travis
  .travis.yml
  tests/travis/install-mssql-pdo_sqlsrv.sh
  tests/travis/install-mssql-sqlsrv.sh
  tests/travis/install-mssql.sh
  tests/travis/pdo_sqlsrv.travis.xml
  tests/travis/sqlsrv.travis.xml
Labels: CI, SQL Server, pdo_sqlsrv, sqlsrv

#3056 Set Appveyor to use PHP 7.2
  .appveyor.yml
Labels: CI, PHP, SQL Server

#3061 Fixed build failure on SQL Server
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
Labels: Bug, CI, SQL Server

#3062 Added badges for AppVeyor
  README.md
Labels: CI, Documentation, Improvement

#3031 Connection parameters are cached hashed
  lib/Doctrine/DBAL/Cache/QueryCacheProfile.php
  tests/Doctrine/Tests/DBAL/Cache/QueryCacheProfileTest.php
Labels: Cache, Connections, Improvement, Query

#3020 Improve handling of schemas in SQL Server >= 2008
  lib/Doctrine/DBAL/Platforms/SQLServer2008Platform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
Labels: Improvement, SQL Server

#2579 DateIntervalType (negative support) resolves doctrine/dbal#2578
  lib/Doctrine/DBAL/Types/DateIntervalType.php
  tests/Doctrine/Tests/DBAL/Types/DateIntervalTest.php
Labels: BC Break, Improvement, Type Conversion, Type Mapping, Types, WIP

#2919 Add tests for column collation to prove it works
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/PostgreSQL91PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
Labels: Columns, Platforms, Test Suite
