Repository doctrine/dbal, pull requests merged in 2019-06, with the labels that each got.

#3584 Remove LoggerChain::addLogger
  UPGRADE.md
  lib/Doctrine/DBAL/Logging/LoggerChain.php
Labels: BC Break, Improvement, Logging

#3583 Getting rid of the column name index
  UPGRADE.md
  lib/Doctrine/DBAL/Event/SchemaCreateTableEventArgs.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Functional/TemporaryTableTest.php
Labels: BC Break, Columns, Events, Improvement, Tables

#3586 Get rid of hard-coded default values of maximum field lengths
  UPGRADE.md
  lib/Doctrine/DBAL/Exception/ColumnLengthRequired.php
  lib/Doctrine/DBAL/Id/TableGeneratorSchemaVisitor.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  lib/Doctrine/DBAL/Schema/Comparator.php
  lib/Doctrine/DBAL/Types/DateIntervalType.php
  lib/Doctrine/DBAL/Types/StringType.php
  lib/Doctrine/DBAL/Types/Type.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/NamedParametersTest.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/IBMDB2.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/MySQL.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/Oracle.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/PostgreSQL.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/SQLServer.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest/SQLite.php
  tests/Doctrine/Tests/DBAL/Functional/PortabilityTest.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/DefaultValueTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPostgreSqlPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/OraclePlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLAnywherePlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
  tests/Doctrine/Tests/DBAL/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Types/StringTest.php
Labels: BC Break, Columns, Improvement, Platforms

#3582 Enable phpstan in DBAL tests
  composer.json
  composer.lock
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Cache/ArrayStatementTest.php
  tests/Doctrine/Tests/DBAL/Cache/QueryCacheProfileTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOExceptionTest.php
  tests/Doctrine/Tests/DBAL/Driver/StatementIteratorTest.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/IBMDB2/DB2StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/OCI8/OCI8ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLAnywhere/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/MasterSlaveConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/PortabilityTest.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/TemporaryTableTest.php
  tests/Doctrine/Tests/DBAL/Functional/Ticket/DBAL630Test.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPostgreSqlPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/OraclePlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/PostgreSqlPlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLAnywherePlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
  tests/Doctrine/Tests/DBAL/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Schema/Platforms/MySQLSchemaTest.php
  tests/Doctrine/Tests/DBAL/Schema/SchemaDiffTest.php
  tests/Doctrine/Tests/DBAL/Schema/SchemaTest.php
  tests/Doctrine/Tests/DBAL/Sharding/PoolingShardConnectionTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/SQLAzureShardManagerTest.php
  tests/Doctrine/Tests/DBAL/StatementTest.php
  tests/Doctrine/Tests/DBAL/Tools/Console/RunSqlCommandTest.php
  tests/Doctrine/Tests/DBAL/Tools/DumperTest.php
  tests/Doctrine/Tests/DBAL/Types/DateImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeTzImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/JsonTest.php
  tests/Doctrine/Tests/DBAL/Types/TimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/VarDateTimeImmutableTypeTest.php
  tests/Doctrine/Tests/DbalFunctionalTestCase.php
  tests/Doctrine/Tests/TestUtil.php
  tests/continuousphp/bootstrap.php
Labels: Improvement, Strict Typing, Test Suite

#3594 Removed some unused code bits
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/SQLAzureShardManager.php
Labels: BC Break, Improvement, Platforms, Prepared Statements

#3599 Make sure that (VAR)CHAR column length is specified in characters, not bytes
  tests/Doctrine/Tests/DBAL/Functional/Platform/ColumnTest.php
Labels: Columns, Improvement, Test Suite

#3598 Deprecated some unused code bits
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
Labels: Deprecation, Platforms, Prepared Statements

#3604 Updated Jetbrains PhpStorm stubs to 2019.1
  composer.json
  composer.lock
  phpstan.neon.dist
Labels: Improvement, Static Analysis

#3602 Remove support for sharding and the Azure platform
  docs/design/AZURE_FEDERATIONS.md
  docs/design/SHARDING.md
  docs/en/reference/sharding.rst
  docs/en/reference/sharding_azure_tutorial.rst
  docs/en/sidebar.rst
  docs/examples/sharding/README.md
  docs/examples/sharding/bootstrap.php
  docs/examples/sharding/composer.json
  docs/examples/sharding/create_schema.php
  docs/examples/sharding/insert_data.php
  docs/examples/sharding/insert_data_aftersplit.php
  docs/examples/sharding/query_filtering_off.php
  docs/examples/sharding/query_filtering_on.php
  docs/examples/sharding/split_federation.php
  docs/examples/sharding/view_federation_members.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/Platforms/SQLAzurePlatform.php
  lib/Doctrine/DBAL/Sharding/Exception/ActiveTransaction.php
  lib/Doctrine/DBAL/Sharding/Exception/MissingDefaultDistributionKey.php
  lib/Doctrine/DBAL/Sharding/Exception/MissingDefaultFederationName.php
  lib/Doctrine/DBAL/Sharding/Exception/MissingDistributionType.php
  lib/Doctrine/DBAL/Sharding/Exception/NoShardDistributionValue.php
  lib/Doctrine/DBAL/Sharding/Exception/NotImplemented.php
  lib/Doctrine/DBAL/Sharding/PoolingShardConnection.php
  lib/Doctrine/DBAL/Sharding/PoolingShardManager.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/SQLAzureFederationsSynchronizer.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/SQLAzureShardManager.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/Schema/MultiTenantVisitor.php
  lib/Doctrine/DBAL/Sharding/ShardChoser/MultiTenantShardChoser.php
  lib/Doctrine/DBAL/Sharding/ShardChoser/ShardChoser.php
  lib/Doctrine/DBAL/Sharding/ShardManager.php
  lib/Doctrine/DBAL/Sharding/ShardingException.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLAzurePlatformTest.php
  tests/Doctrine/Tests/DBAL/Sharding/PoolingShardConnectionTest.php
  tests/Doctrine/Tests/DBAL/Sharding/PoolingShardManagerTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/AbstractTestCase.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/FunctionalTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/MultiTenantVisitorTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/SQLAzureFederationsSynchronizerTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/SQLAzureShardManagerTest.php
  tests/Doctrine/Tests/DBAL/Sharding/ShardChoser/MultiTenantShardChoserTest.php
Labels: Azure, BC Break, Improvement, Sharding

#3600 Updated PHPUnit to 8.2.1
  composer.json
  composer.lock
Labels: Improvement, Test Suite

#3609 Reworked the mocks generated by Prophecy using PHPUnit
  tests/Doctrine/Tests/DBAL/Types/DateImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeTzImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/TimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/VarDateTimeImmutableTypeTest.php
Labels: Improvement, Test Suite

#3608 Added a unit test for Doctrine\DBAL\Logging\LoggerChain
  tests/Doctrine/Tests/DBAL/Logging/LoggerChainTest.php
Labels: Improvement, Logging, Test Suite

#3456 Compare type class when comparing columns.
  lib/Doctrine/DBAL/Schema/Comparator.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
Labels: Bug, Schema Comparison

#3588 Add commit result bool
  lib/Doctrine/DBAL/Connection.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/TransactionTest.php
Labels: Connections, Improvement, Transactions
