Repository doctrine/dbal, pull requests merged in 2019-03, with the labels that each got.

#3475 Make PHP 7.3 the primary PHP version on Travis CI
  .travis.yml
Labels: CI, Improvement

#3473 Avoid database connection from PHPUnit data providers
  tests/Doctrine/Tests/DBAL/Functional/Driver/AbstractDriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlsrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLSrv/DriverTest.php
  tests/Doctrine/Tests/TestUtil.php
Labels: CI, Improvement, Test Suite

#3474 Remove more hard-coded mock classes
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/Mocks/ConnectionMock.php
  tests/Doctrine/Tests/Mocks/DatabasePlatformMock.php
  tests/Doctrine/Tests/Mocks/DriverMock.php
  tests/Doctrine/Tests/Mocks/SchemaManagerMock.php
Labels: Improvement, Test Suite

#3480 Transaction-related Statement methods return void
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Driver/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Exception.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
Labels: BC Break, Connections, Transactions

#3484 Use latest stable versions of sqlsrv and pdo_sqlsrv on CI
  .appveyor.yml
  tests/travis/install-mssql-pdo_sqlsrv.sh
  tests/travis/install-mssql-sqlsrv.sh
Labels: CI, Improvement

#3481 Updated PHPStan to v0.11.3
  composer.json
  composer.lock
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereException.php
  lib/Doctrine/DBAL/Event/SchemaDropTableEventArgs.php
  lib/Doctrine/DBAL/Platforms/DrizzlePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
Labels: Improvement

#3483 Moved rowCount() from Statement to ResultStatement
  UPGRADE.md
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/Driver/ResultStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
Labels: BC Break, Improvement, Prepared Statements

#3486 Converted Connection and Statement methods which returned false in case of a failure into void
  UPGRADE.md
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Statement.php
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  lib/Doctrine/DBAL/Driver/ResultStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Sharding/PoolingShardConnection.php
  lib/Doctrine/DBAL/Statement.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Portability/StatementTest.php
Labels: BC Break, Connections, Improvement, Prepared Statements

#3488 Connection::quote() can only quote strings
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLAnywhereSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/SQLAzureShardManager.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Schema/DB2SchemaManagerTest.php
Labels: BC Break, Connections, Improvement, Quoting

#3489 Update doctrine coding standard from 5.0 to 6.0
  composer.json
  composer.lock
  lib/Doctrine/DBAL/Configuration.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/Index.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  lib/Doctrine/DBAL/Schema/Synchronizer/SingleDatabaseSynchronizer.php
  lib/Doctrine/DBAL/Schema/Table.php
  lib/Doctrine/DBAL/Schema/Visitor/RemoveNamespacedAssets.php
  lib/Doctrine/DBAL/Statement.php
  lib/Doctrine/DBAL/Tools/Console/Command/ImportCommand.php
  lib/Doctrine/DBAL/Tools/Dumper.php
  phpcs.xml.dist
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Performance/TypeConversionPerformanceTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Platforms/SQLServer2012PlatformTest.php
  tests/Doctrine/Tests/DBAL/Schema/ColumnTest.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
  tests/Doctrine/Tests/DBAL/Schema/SchemaDiffTest.php
  tests/Doctrine/Tests/DBAL/Sharding/PoolingShardManagerTest.php
  tests/Doctrine/Tests/DBAL/Sharding/SQLAzure/SQLAzureShardManagerTest.php
  tests/Doctrine/Tests/DBAL/Types/ConversionExceptionTest.php
  tests/Doctrine/Tests/DbalFunctionalTestCase.php
  tests/Doctrine/Tests/Mocks/DriverConnectionMock.php
Labels: Improvement

#3494 Modified AbstractPlatform::getLocateExpression() and ::getSubstringExpression() signatures
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
Labels: BC Break, Improvement, Platforms

#3498 Reworked AbstractPlatform::get*Expression() methods
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
Labels: BC Break, Improvement, Platforms, Prepared Statements, SQLite
