Repository doctrine/dbal, pull requests merged in 2019-04, with the labels that each got.

#3502 Removed DB2SchemaManager::_getPortableForeignKeyRuleDef()
  UPGRADE.md
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
Labels: BC Break, IBM DB2, Improvement

#3504 fix #3479 (typos in example-code in QueryBuilder)
  lib/Doctrine/DBAL/Query/QueryBuilder.php
Labels: Documentation, Improvement, Query

#3505 Reworked driver exceptions
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/AbstractDriverException.php
  lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php
  lib/Doctrine/DBAL/Driver/AbstractOracleDriver.php
  lib/Doctrine/DBAL/Driver/AbstractPostgreSQLDriver.php
  lib/Doctrine/DBAL/Driver/AbstractSQLAnywhereDriver.php
  lib/Doctrine/DBAL/Driver/DriverException.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Exception.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliException.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Exception.php
  lib/Doctrine/DBAL/Driver/PDOException.php
  lib/Doctrine/DBAL/Driver/PDOMySql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOOracle/Driver.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereException.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvException.php
  lib/Doctrine/DBAL/Exception/DriverException.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  tests/Doctrine/Tests/DBAL/DBALExceptionTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractMySQLDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractOracleDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractPostgreSQLDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractSQLAnywhereDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractSQLiteDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOExceptionTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
Labels: BC Break, Error Handling, Improvement

#3507 Removed errorCode() and errorInfo() methods from Connection and Statement APIs
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Statement.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
  tests/Doctrine/Tests/DBAL/Portability/StatementTest.php
Labels: BC Break, Connections, Error Handling, Improvement, Prepared Statements

#3509 Enabled the build against IBM DB2 on PHP 7.3 on Travis CI
  .travis.yml
Labels: CI, Improvement, ibm_db2

#3501 Reworked AbstractSchemaManager::extractDoctrineTypeFromComment(), removed ::removeDoctrineTypeFromComment()
  UPGRADE.md
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLAnywhereSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: BC Break, Improvement, Schema Managers

#3354 Extract type factory and registry from Type into TypeRegistry
  lib/Doctrine/DBAL/DBALException.php
  lib/Doctrine/DBAL/Types/Type.php
  lib/Doctrine/DBAL/Types/TypeRegistry.php
  tests/Doctrine/Tests/DBAL/Types/TypeRegistryTest.php
  tests/Doctrine/Tests/DBAL/Types/TypeTest.php
Labels: Improvement, Types

#3356 Extract constants for built-in types from Type to Types
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/DB2Platform.php
  lib/Doctrine/DBAL/Platforms/MariaDb1027Platform.php
  lib/Doctrine/DBAL/Platforms/MySQL57Platform.php
  lib/Doctrine/DBAL/Platforms/PostgreSQL92Platform.php
  lib/Doctrine/DBAL/Platforms/PostgreSQL94Platform.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Sharding/SQLAzure/SQLAzureFederationsSynchronizer.php
  lib/Doctrine/DBAL/Types/ArrayType.php
  lib/Doctrine/DBAL/Types/BigIntType.php
  lib/Doctrine/DBAL/Types/BinaryType.php
  lib/Doctrine/DBAL/Types/BlobType.php
  lib/Doctrine/DBAL/Types/BooleanType.php
  lib/Doctrine/DBAL/Types/DateImmutableType.php
  lib/Doctrine/DBAL/Types/DateIntervalType.php
  lib/Doctrine/DBAL/Types/DateTimeImmutableType.php
  lib/Doctrine/DBAL/Types/DateTimeType.php
  lib/Doctrine/DBAL/Types/DateTimeTzImmutableType.php
  lib/Doctrine/DBAL/Types/DateTimeTzType.php
  lib/Doctrine/DBAL/Types/DateType.php
  lib/Doctrine/DBAL/Types/DecimalType.php
  lib/Doctrine/DBAL/Types/FloatType.php
  lib/Doctrine/DBAL/Types/GuidType.php
  lib/Doctrine/DBAL/Types/IntegerType.php
  lib/Doctrine/DBAL/Types/JsonArrayType.php
  lib/Doctrine/DBAL/Types/JsonType.php
  lib/Doctrine/DBAL/Types/ObjectType.php
  lib/Doctrine/DBAL/Types/SimpleArrayType.php
  lib/Doctrine/DBAL/Types/SmallIntType.php
  lib/Doctrine/DBAL/Types/StringType.php
  lib/Doctrine/DBAL/Types/TextType.php
  lib/Doctrine/DBAL/Types/TimeImmutableType.php
  lib/Doctrine/DBAL/Types/TimeType.php
  lib/Doctrine/DBAL/Types/Type.php
  lib/Doctrine/DBAL/Types/Types.php
  lib/Doctrine/DBAL/Types/VarDateTimeImmutableType.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/DB2PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/MariaDb1027PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/MySQL57PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/PostgreSQL92PlatformTest.php
  tests/Doctrine/Tests/DBAL/Platforms/PostgreSQL94PlatformTest.php
  tests/Doctrine/Tests/DBAL/Schema/ColumnDiffTest.php
  tests/Doctrine/Tests/DBAL/Schema/ColumnTest.php
  tests/Doctrine/Tests/DBAL/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Types/JsonArrayTest.php
  tests/Doctrine/Tests/DBAL/Types/JsonTest.php
Labels: Deprecation, Improvement, Types

#3520 Drop support for feferred misspelling in PostgreSqlPlatform::getAdvancedForeignKeyOptionsSQL()
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPostgreSqlPlatformTestCase.php
Labels: BC Break, Deprecation, Platforms, PostgreSQL

#3511 Added type hints to the Column class
  lib/Doctrine/DBAL/Schema/Column.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
Labels: BC Break, Columns, Improvement, Schema Managers

#3514 Expand list of keywords in composer.json
  composer.json
Labels: Improvement

#3521 Maintain platform parameter in connection params
  lib/Doctrine/DBAL/Connection.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
Labels: Bug, Configuration, Connections

#3519 Fix UniqueConstraint with empty name.
  lib/Doctrine/DBAL/Schema/Table.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Schema/TableTest.php
Labels: Bug

#2960 Handle default values as values, not SQL expressions
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  lib/Doctrine/DBAL/Schema/DB2SchemaManager.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/DefaultValueTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
Labels: BC Break, Columns, IBM DB2, Improvement, MariaDB, MySQL, Oracle, PostgreSQL, SQL Server, SQLite, Schema Definition, Schema Introspection, Schema Managers

#3528 Reworked SQL Server installer on Travis CI
  .travis.yml
  tests/travis/install-mssql.sh
  tests/travis/install-sqlsrv-dependencies.sh
Labels: CI, Improvement, SQL Server, pdo_sqlsrv, sqlsrv

#3515 Implemented support for persistent connections in PDO and mysqli drivers
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/PDOMySql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOOracle/Driver.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Driver.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
Labels: Connections, Improvement, PDO, mysqli

#3530 Improve ExceptionTest::testConnectionExceptionSqLite
  tests/Doctrine/Tests/DBAL/Functional/ExceptionTest.php
Labels: Test Suite
