Repository doctrine/dbal, pull requests merged in 2019-10, with the labels that each got.

#3688 Temporarily disable the usage of PHPUnit 8.4 due to a regression
  composer.json
  composer.lock
Labels: CI, Improvement, Test Suite

#3689 Updated PHPUnit to 8.4.1
  composer.json
  composer.lock
Labels: Improvement, Test Suite

#3686 Fixed query result caching when FetchMode::COLUMN is used
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
Labels: Bug, Cache, Prepared Statements, Regression

#3679 fix begin trasaction after reconnect
  lib/Doctrine/DBAL/Connection.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
Labels: Bug, Connecting, Transactions

#3702 Updated SQL Server extensions to fix build failures on PHP 7.4
  .travis.yml
  lib/Doctrine/DBAL/Schema/SQLServerSchemaManager.php
  tests/travis/install-mssql-pdo_sqlsrv.sh
  tests/travis/install-mssql-sqlsrv.sh
Labels: CI, Improvement, PHP, SQL Server

#3705 Don't skip a test for sqlite
  tests/Doctrine/Tests/DBAL/Functional/ExceptionTest.php
Labels: Improvement, SQLite, Test Suite, Testing

#3708 New deprecations for 2.10
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver.php
  lib/Doctrine/DBAL/Event/ConnectionEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaAlterTableAddColumnEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaAlterTableChangeColumnEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaAlterTableEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaAlterTableRemoveColumnEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaAlterTableRenameColumnEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaColumnDefinitionEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaCreateTableColumnEventArgs.php
  lib/Doctrine/DBAL/Event/SchemaCreateTableEventArgs.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
Labels: Connections, Deprecation, Drivers, Events, Schema Managers
