Repository doctrine/dbal, pull requests merged in 2020-07, with the labels that each got.

#4132 Deprecate AbstractPlatform::fixSchemaElementName()
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
Labels: Deprecation, Platforms

#4134 Deprecate some DBALException factory methods
  UPGRADE.md
  lib/Doctrine/DBAL/DBALException.php
Labels: Configuration, Connections, Deprecation, Error Handling

#4135 Remove irrelevant references to PDO from the documentation
  phpcs.xml.dist
  src/ColumnCase.php
  src/Connection.php
  src/Driver/Connection.php
  src/Driver/Mysqli/Connection.php
  src/Driver/Statement.php
  src/DriverManager.php
  src/ParameterType.php
  src/Query/QueryBuilder.php
  src/Statement.php
Labels: Documentation, Improvement

#4093 Expect only DriverException from Result::fetch*() methods
  tests/Functional/StatementTest.php
Labels: Improvement, Test Suite

#4136 Move the logic of driver exception conversion into a separate interface
  UPGRADE.md
  phpstan.neon.dist
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/DBALException.php
  src/Driver.php
  src/Driver/API/DefaultExceptionConverter.php
  src/Driver/API/ExceptionConverter.php
  src/Driver/API/MySQL/ExceptionConverter.php
  src/Driver/API/OCI/ExceptionConverter.php
  src/Driver/API/PostgreSQL/ExceptionConverter.php
  src/Driver/API/SQLite/ExceptionConverter.php
  src/Driver/AbstractDB2Driver.php
  src/Driver/AbstractMySQLDriver.php
  src/Driver/AbstractOracleDriver.php
  src/Driver/AbstractPostgreSQLDriver.php
  src/Driver/AbstractSQLServerDriver.php
  src/Driver/AbstractSQLiteDriver.php
  src/Result.php
  src/Statement.php
  tests/Connection/ExceptionHandlingTest.php
  tests/DBALExceptionTest.php
  tests/Driver/API/ExceptionConverterTest.php
  tests/Driver/API/MySQL/ExceptionConverterTest.php
  tests/Driver/API/OCI/ExceptionConverterTest.php
  tests/Driver/API/PostgreSQL/ExceptionConverterTest.php
  tests/Driver/API/SQLite/ExceptionConverterTest.php
  tests/Driver/AbstractDB2DriverTest.php
  tests/Driver/AbstractDriverTest.php
  tests/Driver/AbstractMySQLDriverTest.php
  tests/Driver/AbstractOracleDriverTest.php
  tests/Driver/AbstractPostgreSQLDriverTest.php
  tests/Driver/AbstractSQLServerDriverTest.php
  tests/Driver/AbstractSQLiteDriverTest.php
  tests/Functional/DataAccessTest.php
  tests/StatementTest.php
Labels: BC Break, Drivers, Error Handling, Improvement

#4137 Deprecate driver exception conversion APIs
  UPGRADE.md
  lib/Doctrine/DBAL/DBALException.php
  lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php
  lib/Doctrine/DBAL/Driver/AbstractOracleDriver.php
  lib/Doctrine/DBAL/Driver/AbstractPostgreSQLDriver.php
  lib/Doctrine/DBAL/Driver/AbstractSQLAnywhereDriver.php
  lib/Doctrine/DBAL/Driver/AbstractSQLiteDriver.php
  lib/Doctrine/DBAL/Driver/ExceptionConverterDriver.php
Labels: Deprecation, Drivers, Error Handling

#4140 Mark result constructors internal
  src/Driver/IBMDB2/Result.php
  src/Driver/Mysqli/Result.php
  src/Driver/OCI8/Result.php
  src/Driver/PDO/Result.php
  src/Driver/SQLSrv/Result.php
  src/Portability/Result.php
  src/Result.php
Labels: Documentation, Improvement, Prepared Statements

#4138 PDO connection and statement classes made final
  UPGRADE.md
  src/Driver/PDO/Connection.php
  src/Driver/PDO/Statement.php
  src/Driver/PDOSqlsrv/Connection.php
  src/Driver/PDOSqlsrv/Driver.php
  src/Driver/PDOSqlsrv/Statement.php
  tests/Functional/Driver/PDOSqlsrv/DriverTest.php
Labels: BC Break, Drivers, Improvement, PDO, pdo_sqlsrv

#4139 Mark connection constructors internal
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Connections/PrimaryReadReplicaConnection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/LastInsertId.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Sharding/PoolingShardConnection.php
Labels: Connections, Documentation, Improvement

#4142 Add support for MYSQLI_OPT_READ_TIMEOUT
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
Labels: Improvement, mysqli

#4147 Mark driver classes final
  UPGRADE.md
  src/Driver/Mysqli/Driver.php
  src/Driver/OCI8/Driver.php
  src/Driver/PDOMySql/Driver.php
  src/Driver/PDOOracle/Driver.php
  src/Driver/PDOPgSql/Driver.php
  src/Driver/PDOSqlite/Driver.php
  src/Driver/PDOSqlsrv/Driver.php
  src/Driver/SQLSrv/Driver.php
  src/Driver/SQLSrv/LastInsertId.php
Labels: BC Break, Drivers, Improvement

#4144 Deprecate classes in Driver\PDO* namespaces
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/PDO/MySQL/Driver.php
  lib/Doctrine/DBAL/Driver/PDO/OCI/Driver.php
  lib/Doctrine/DBAL/Driver/PDO/PgSQL/Driver.php
  lib/Doctrine/DBAL/Driver/PDO/SQLSrv/Connection.php
  lib/Doctrine/DBAL/Driver/PDO/SQLSrv/Driver.php
  lib/Doctrine/DBAL/Driver/PDO/SQLSrv/Statement.php
  lib/Doctrine/DBAL/Driver/PDO/SQLite/Driver.php
  lib/Doctrine/DBAL/Driver/PDOMySql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOOracle/Driver.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Statement.php
  lib/Doctrine/DBAL/DriverManager.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOMySql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOOracle/DriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOSqlite/DriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOSqlsrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/BlobTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDO/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOMySql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOOracle/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlite/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlsrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Types/BinaryTest.php
Labels: Deprecation, Drivers, Improvement, pdo_mysql, pdo_oci, pdo_pgsql, pdo_sqlite, pdo_sqlsrv

#4148 Remove workaround in PDOSqlsrv\Connection::quote()
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
Labels: Bug, Quoting, pdo_sqlsrv

#4145 Add TypeRegistry constructor
  lib/Doctrine/DBAL/Types/Type.php
  lib/Doctrine/DBAL/Types/TypeRegistry.php
  tests/Doctrine/Tests/DBAL/Types/TypeRegistryTest.php
Labels: Error Handling, Improvement, Types

#4149 Replace DefaultExceptionConverter with driver-specific implementations
  src/Driver/API/IBMDB2/ExceptionConverter.php
  src/Driver/API/SQLSrv/ExceptionConverter.php
  src/Driver/AbstractDB2Driver.php
  src/Driver/AbstractSQLServerDriver.php
  tests/Connection/ExceptionHandlingTest.php
  tests/Driver/AbstractDB2DriverTest.php
  tests/Driver/AbstractSQLServerDriverTest.php
Labels: Drivers, Error Handling, Improvement

#4146 Require $platform in AbstractSchemaManager::__construct()
  UPGRADE.md
  src/Connection.php
  src/Driver.php
  src/Driver/AbstractDB2Driver.php
  src/Driver/AbstractMySQLDriver.php
  src/Driver/AbstractOracleDriver.php
  src/Driver/AbstractPostgreSQLDriver.php
  src/Driver/AbstractSQLServerDriver.php
  src/Driver/AbstractSQLiteDriver.php
  src/Schema/AbstractSchemaManager.php
  tests/Driver/AbstractDB2DriverTest.php
  tests/Driver/AbstractDriverTest.php
  tests/Driver/AbstractMySQLDriverTest.php
  tests/Driver/AbstractOracleDriverTest.php
  tests/Driver/AbstractPostgreSQLDriverTest.php
  tests/Driver/AbstractSQLServerDriverTest.php
  tests/Driver/AbstractSQLiteDriverTest.php
  tests/Schema/DB2SchemaManagerTest.php
  tests/Schema/MySqlSchemaManagerTest.php
  tests/Schema/SqliteSchemaManagerTest.php
Labels: BC Break, Bug, Error Handling, Schema Managers

#4151 Manually merge 2.10.x into 2.11.x
  composer.json
  composer.lock
  lib/Doctrine/DBAL/Driver/AbstractDB2Driver.php
  lib/Doctrine/DBAL/Driver/AbstractSQLServerDriver.php
  lib/Doctrine/DBAL/Driver/AbstractSQLiteDriver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/ResultStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/SQLParserUtils.php
  lib/Doctrine/DBAL/Sharding/ShardManager.php
  lib/Doctrine/DBAL/Types/Type.php
  tests/Doctrine/Tests/DBAL/Driver/IBMDB2/DB2ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDO/ExceptionTest.php
  tests/Doctrine/Tests/DBAL/Driver/SQLAnywhere/SQLAnywhereConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/SQLSrv/SQLSrvConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/IBMDB2/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/Mysqli/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/Mysqli/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/OCI8/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/OCI8/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/OCI8/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDO/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOMySql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOOracle/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOPgSql/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlite/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlsrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLAnywhere/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLAnywhere/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLAnywhere/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLSrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLSrv/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/PlatformRestrictionsTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Merge Up

#4153 Remove deprecated components
  UPGRADE.md
  src/DBALException.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
Labels: BC Break, Connections, Error Handling, Platforms

#4157 Rework the portability layer to act as a middleware
  UPGRADE.md
  phpstan.neon.dist
  src/Configuration.php
  src/Driver/Middleware.php
  src/DriverManager.php
  src/Portability/Connection.php
  src/Portability/Driver.php
  src/Portability/Middleware.php
  src/Portability/Statement.php
  tests/Functional/PortabilityTest.php
Labels: BC Break, Drivers, Improvement, New Feature, Portability

#4159 Do not implement driver-level interfaces by wrapper-level classes
  UPGRADE.md
  docs/en/reference/architecture.rst
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/Portability/Connection.php
  src/Statement.php
Labels: BC Break, Connections, Improvement, Prepared Statements

#4160 Add some missing @throws annotations and fix thrown exceptions
  UPGRADE.md
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/DBALException.php
  src/Driver/PDO/Connection.php
  src/Event/Listeners/OracleSessionInit.php
  src/Event/Listeners/SQLSessionInit.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySqlPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Column.php
  src/Schema/Comparator.php
  src/Schema/DB2SchemaManager.php
  src/Schema/Exception/InvalidTableName.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSqlSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SqliteSchemaManager.php
  src/Schema/Synchronizer/AbstractSchemaSynchronizer.php
  src/Schema/Table.php
  src/Schema/Visitor/Visitor.php
  src/Statement.php
  src/Tools/Console/Command/ReservedWordsCommand.php
  src/Tools/Console/Command/RunSqlCommand.php
  src/Tools/Console/ConsoleRunner.php
  src/Types/Type.php
  tests/Events/SQLSessionInitTest.php
Labels: BC Break, Connections, Error Handling, Events, Improvement, Prepared Statements, Query, Schema, Schema Managers, Tools, Types

#4164 Update architecture documentation
  docs/en/reference/architecture.rst
Labels: Documentation, Improvement

#4163 Deprecate duplicate and ambiguous wrapper connection methods
  UPGRADE.md
  docs/en/reference/data-retrieval-and-manipulation.rst
  docs/en/reference/security.rst
  docs/en/reference/sharding_azure_tutorial.rst
  docs/examples/sharding/insert_data.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/PrimaryReadReplicaConnection.php
  lib/Doctrine/DBAL/Event/Listeners/MysqlSessionInit.php
  lib/Doctrine/DBAL/Event/Listeners/OracleSessionInit.php
  lib/Doctrine/DBAL/Id/TableGenerator.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Tools/Console/Command/RunSqlCommand.php
  tests/Doctrine/Tests/DBAL/Connection/LoggingTest.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Events/MysqlSessionInitTest.php
  tests/Doctrine/Tests/DBAL/Events/OracleSessionInitTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/OCI8/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ExceptionTest.php
  tests/Doctrine/Tests/DBAL/Functional/MasterSlaveConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Functional/TemporaryTableTest.php
  tests/Doctrine/Tests/DBAL/Functional/Ticket/DBAL630Test.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Tools/Console/RunSqlCommandTest.php
Labels: Connections, Deprecation

#4165 Deprecated usage of wrapper components as implementations of driver-level interfaces
  UPGRADE.md
Labels: Connections, Deprecation, Prepared Statements

#4166 Manually merge 2.11.x into 3.0.x
  UPGRADE.md
  docs/en/reference/data-retrieval-and-manipulation.rst
  docs/en/reference/security.rst
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/Event/Listeners/OracleSessionInit.php
  src/Id/TableGenerator.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Tools/Console/Command/RunSqlCommand.php
  tests/Connection/LoggingTest.php
  tests/ConnectionTest.php
  tests/Events/OracleSessionInitTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/OCI8/ConnectionTest.php
  tests/Functional/ExceptionTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/TemporaryTableTest.php
  tests/Functional/Ticket/DBAL630Test.php
  tests/Functional/WriteTest.php
  tests/Tools/Console/RunSqlCommandTest.php
Labels: Merge Up

#4162 Remove parameters and types unset after statement execution
  lib/Doctrine/DBAL/Statement.php
Labels: Bug, Logging, Prepared Statements

#4167 Remove deprecated methods from the wrapper Connection
  UPGRADE.md
  ci/continuousphp/bootstrap.php
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/Event/Listeners/SQLSessionInit.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/Synchronizer/AbstractSchemaSynchronizer.php
  tests/ConnectionTest.php
  tests/Events/SQLSessionInitTest.php
  tests/Functional/BlobTest.php
  tests/Functional/Connection/ConnectionLostTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/PDO/PgSQL/ConnectionTest.php
  tests/Functional/ExceptionTest.php
  tests/Functional/ModifyLimitQueryTest.php
  tests/Functional/Platform/DateExpressionTest.php
  tests/Functional/Platform/DefaultExpressionTest.php
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/Schema/ForeignKeyTest.php
  tests/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/TableGeneratorTest.php
  tests/Functional/TemporaryTableTest.php
  tests/Functional/Ticket/DBAL202Test.php
  tests/Functional/Ticket/DBAL630Test.php
  tests/Functional/Ticket/DBAL752Test.php
  tests/Functional/TransactionTest.php
  tests/Functional/WriteTest.php
  tests/TestUtil.php
Labels: BC Break, Connections, Prepared Statements

#4176 Add GitHub Actions builds for oci8 and pdo_oci drivers
  .github/workflows/continuous-integration.yml
  README.md
  ci/github/phpunit.oci8.xml
  ci/github/phpunit.pdo-oci.xml
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
  tests/continuousphp/bootstrap.php
  tests/continuousphp/install-pdo-oci.sh
  tests/continuousphp/oci8.phpunit.continuousphp.xml
  tests/continuousphp/pdo-oci.phpunit.xml
Labels: CI, Improvement, oci8, pdo_oci

#4177 Manually merge 2.10.x into 2.11.x
  .github/workflows/continuous-integration.yml
  README.md
  ci/github/phpunit.oci8.xml
  ci/github/phpunit.pdo-oci.xml
  tests/continuousphp/bootstrap.php
  tests/continuousphp/install-pdo-oci.sh
  tests/continuousphp/oci8.phpunit.continuousphp.xml
  tests/continuousphp/pdo-oci.phpunit.xml
Labels: Merge Up

#4175 Additional deprecation note for PrimaryReplicaConnection::query()
  UPGRADE.md
Labels: Connections, Deprecation, Documentation

#4181 Fetch parent commits
  .github/workflows/continuous-integration.yml
Labels: CI

#4185 Fix badges
  README.md
Labels: CI, Documentation, Improvement

#3148 Ignore code coverage of private constructors of static classes
  lib/Doctrine/DBAL/ColumnCase.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/Events.php
  lib/Doctrine/DBAL/FetchMode.php
  lib/Doctrine/DBAL/LockMode.php
  lib/Doctrine/DBAL/ParameterType.php
  lib/Doctrine/DBAL/Platforms/DateIntervalUnit.php
  lib/Doctrine/DBAL/Platforms/TrimMode.php
  lib/Doctrine/DBAL/Tools/Dumper.php
  lib/Doctrine/DBAL/TransactionIsolationLevel.php
  lib/Doctrine/DBAL/Types/Types.php
Labels: Improvement, Testing

#4186 Manually merge 2.10.x into 2.11.x
  .github/workflows/continuous-integration.yml
  README.md
  ci/github/phpunit.oci8.xml
  ci/github/phpunit.pdo-oci.xml
  lib/Doctrine/DBAL/ColumnCase.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/Events.php
  lib/Doctrine/DBAL/FetchMode.php
  lib/Doctrine/DBAL/LockMode.php
  lib/Doctrine/DBAL/ParameterType.php
  lib/Doctrine/DBAL/Platforms/DateIntervalUnit.php
  lib/Doctrine/DBAL/Platforms/TrimMode.php
  lib/Doctrine/DBAL/Tools/Dumper.php
  lib/Doctrine/DBAL/TransactionIsolationLevel.php
  lib/Doctrine/DBAL/Types/Types.php
Labels: Merge Up

#4187 Manually merge 2.11.x into 3.0.x
  .github/workflows/continuous-integration.yml
  README.md
  ci/github/phpunit.oci8.xml
  ci/github/phpunit.pdo-oci.xml
  src/ColumnCase.php
  src/DriverManager.php
  src/Events.php
  src/LockMode.php
  src/ParameterType.php
  src/Platforms/DateIntervalUnit.php
  src/Platforms/TrimMode.php
  src/Tools/Dumper.php
  src/TransactionIsolationLevel.php
  src/Types/Types.php
Labels: Merge Up

#4188 Manually merge 3.0.x into master
  .github/workflows/continuous-integration.yml
  README.md
  ci/github/phpunit.oci8.xml
  ci/github/phpunit.pdo-oci.xml
  src/ColumnCase.php
  src/DriverManager.php
  src/Events.php
  src/LockMode.php
  src/ParameterType.php
  src/Platforms/DateIntervalUnit.php
  src/Platforms/TrimMode.php
  src/Tools/Dumper.php
  src/TransactionIsolationLevel.php
  src/Types/Types.php
Labels: Merge Up

#4192 Remove workaround in PDO\SQLSrv\Connection::quote()
  src/Driver/PDO/SQLSrv/Connection.php
Labels: Bug, Quoting, pdo_sqlsrv
