Repository doctrine/dbal, pull requests merged in 2020-01, with the labels that each got.

#3804 Removed deprecation leftovers
  lib/Doctrine/DBAL/Schema/OracleSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
Labels: Bug, Deprecation

#3800 Refactor FK exception tests
  tests/Doctrine/Tests/DBAL/Functional/ExceptionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ForeignKeyExceptionTest.php
Labels: Improvement, Test Suite

#3811 Change the branch alias of master from 3.0.x-dev to 4.0.x-dev
  composer.json
Labels: BC Break, Improvement

#3812 Fix DebugStack#queries docblock type
  lib/Doctrine/DBAL/Logging/DebugStack.php
Labels: Documentation, Improvement, Logging

#3803 Backport PDO-related changes from master to 3.0.x
  UPGRADE.md
  composer.json
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/ColumnCase.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php
  lib/Doctrine/DBAL/Driver/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/PDOMySql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOOracle/Driver.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Driver.php
  lib/Doctrine/DBAL/Driver/PDOStatement.php
  lib/Doctrine/DBAL/Driver/ResultStatement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  lib/Doctrine/DBAL/DriverManager.php
  lib/Doctrine/DBAL/FetchMode.php
  lib/Doctrine/DBAL/ParameterType.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Statement.php
  lib/Doctrine/DBAL/Tools/Console/Command/ImportCommand.php
  lib/Doctrine/DBAL/Tools/Console/ConsoleRunner.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOExceptionTest.php
  tests/Doctrine/Tests/DBAL/Driver/PDOPgSql/DriverTest.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/DataAccessTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOSqlsrv/DriverTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/SQLSrv/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Ticket/DBAL630Test.php
  tests/Doctrine/Tests/DBAL/StatementTest.php
Labels: BC Break, PDO, PHP, RFC, WIP

#3807 Removed ServerInfoAwareConnection#requiresQueryForServerVersion() as implementation detail
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/PDOConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/ServerInfoAwareConnection.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/IBMDB2/DB2ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/SQLAnywhere/SQLAnywhereConnectionTest.php
  tests/Doctrine/Tests/DBAL/Driver/SQLSrv/SQLSrvConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Driver/PDOConnectionTest.php
Labels: BC Break, Improvement, Platform Detection

#3816 Fix documented return type
  lib/Doctrine/DBAL/Schema/Comparator.php
Labels: Bug, Documentation

#3590 Make classes final where applicable.
  UPGRADE.md
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Connection.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Driver.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/Driver.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/Driver.php
  lib/Doctrine/DBAL/Driver/PDOMySql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOOracle/Driver.php
  lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Driver.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Statement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/Driver.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/Driver.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvConnection.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/StatementIterator.php
  lib/Doctrine/DBAL/Id/TableGeneratorSchemaVisitor.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Schema/Synchronizer/SingleDatabaseSynchronizer.php
  lib/Doctrine/DBAL/Schema/Visitor/RemoveNamespacedAssets.php
  tests/Doctrine/Tests/DBAL/Driver/StatementIteratorTest.php
Labels: BC Break, Improvement

#3817 Refactored MySQLiStatement::$columnNames
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
Labels: Prepared Statements, Refactoring, mysqli

#3820 Made the OCI8Statement class final
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/OCI8/ConvertPositionalToNamedPlaceholders.php
  lib/Doctrine/DBAL/Driver/OCI8/NonTerminatedStringLiteral.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/ConvertPositionalToNamedPlaceholdersTest.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
Labels: BC Break, Improvement, Prepared Statements, SQL Parser, oci8

#3809 Dropped handling of one-based numeric arrays of parameters in Statement::execute()
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/Statement.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/OCI8StatementTest.php
Labels: BC Break, Improvement, Prepared Statements, oci8, sqlsrv

#3808 Removed the OCI8Connection::getExecuteMode() method
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/OCI8/ExecutionMode.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  tests/Doctrine/Tests/DBAL/Driver/OCI8/ExecutionModeTest.php
Labels: BC Break, Improvement, Prepared Statements, oci8

#3801 Fix phpstan errors
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Platforms/SqlitePlatform.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Functional/Schema/DefaultValueTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/SqlitePlatformTest.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
Labels: Improvement, Strict Typing

#3823 Removed Connection::project()
  UPGRADE.md
  lib/Doctrine/DBAL/Connection.php
Labels: BC Break, Connections, Improvement

#3822 Fix some whitelisted PHPStan errors
  UPGRADE.md
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Schema/Table.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Tools/Console/RunSqlCommandTest.php
  tests/Doctrine/Tests/DBAL/Types/ArrayTest.php
  tests/Doctrine/Tests/DBAL/Types/BinaryTest.php
  tests/Doctrine/Tests/DBAL/Types/BlobTest.php
  tests/Doctrine/Tests/DBAL/Types/BooleanTest.php
  tests/Doctrine/Tests/DBAL/Types/DateImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateIntervalTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeTzImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/DateTimeTzTest.php
  tests/Doctrine/Tests/DBAL/Types/DecimalTest.php
  tests/Doctrine/Tests/DBAL/Types/FloatTest.php
  tests/Doctrine/Tests/DBAL/Types/GuidTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/IntegerTest.php
  tests/Doctrine/Tests/DBAL/Types/JsonTest.php
  tests/Doctrine/Tests/DBAL/Types/ObjectTest.php
  tests/Doctrine/Tests/DBAL/Types/SmallIntTest.php
  tests/Doctrine/Tests/DBAL/Types/StringTest.php
  tests/Doctrine/Tests/DBAL/Types/TimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/TimeTest.php
  tests/Doctrine/Tests/DBAL/Types/VarDateTimeImmutableTypeTest.php
  tests/Doctrine/Tests/DBAL/Types/VarDateTimeTest.php
Labels: BC Break, Improvement, Schema Definition, Strict Typing, Test Suite, Types

#3824 Fix phpstan errors
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Logging/SQLLogger.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/Table.php
  phpstan.neon.dist
  tests/Doctrine/Tests/DBAL/Platforms/SQLAnywherePlatformTest.php
  tests/Doctrine/Tests/DBAL/Schema/MySqlInheritCharsetTest.php
Labels: Improvement, Strict Typing

#3830 Introduce Join class in QueryBuilder
  lib/Doctrine/DBAL/Query/Join.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
Labels: BC Break, Improvement, Query, Strict Typing

#3832 Fix JOIN with no condition bug
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Bug, Query

#3835 Fix phpstan error
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  phpstan.neon.dist
Labels: Improvement, Query, Strict Typing

#3833 Introduce From class in QueryBuilder
  UPGRADE.md
  lib/Doctrine/DBAL/Query/From.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: BC Break, Improvement, Query, Strict Typing

#3831 Replaced func_get_args() with variadic arguments
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/OracleSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: BC Break, Improvement, Query, Strict Typing

#3841 Enforced argument and return types in QueryBuilder and ExpressionBuilder
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
Labels: BC Break, Improvement, Query, Strict Typing

#3840 Fixed the QueryBuilder::setMaxResults() signature to accept NULL
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: BC Break, Bug, Query, Query Limit/Offset Modification, Strict Typing

#3839 Added the missing argument type to Connection::executeQuery($types)
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Portability/Connection.php
Labels: BC Break, Connecting, Improvement, Prepared Statements, Strict Typing

#3834 Fix docblock typos in DriverManager docs
  lib/Doctrine/DBAL/DriverManager.php
Labels: Documentation, Improvement

#3843 Fix unquoted stmt fragments backslash escaping
  lib/Doctrine/DBAL/SQLParserUtils.php
  tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php
Labels: Bug, Prepared Statements

#3842 Fixed the QueryBuilder::setMaxResults() signature to accept NULL
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Bug, Documentation, Query, Query Limit/Offset Modification

#3836 Introduce properties for SQL parts in QueryBuilder
  UPGRADE.md
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: BC Break, Improvement, Query, Strict Typing

#3848 expectException() is not static
  tests/Doctrine/Tests/DBAL/Cache/ArrayStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Schema/ColumnTest.php
  tests/Doctrine/Tests/DBAL/Tools/Console/RunSqlCommandTest.php
Labels: Code Style, Improvement

#3849 Clean up unused variables
  lib/Doctrine/DBAL/Connection.php
  tests/Doctrine/Tests/DBAL/Cache/QueryCacheProfileTest.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractPlatformTestCase.php
  tests/Doctrine/Tests/DBAL/Schema/ComparatorTest.php
  tests/Doctrine/Tests/DBAL/Schema/MySqlInheritCharsetTest.php
  tests/Doctrine/Tests/DBAL/Schema/SchemaTest.php
  tests/Doctrine/Tests/DBAL/Schema/TableTest.php
  tests/Doctrine/Tests/DBAL/Types/Exception/SerializationFailedTest.php
Labels: Code Style, Improvement

#3851 Rename andX() / orX() methods
  UPGRADE.md
  docs/en/reference/query-builder.rst
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Deprecation, Improvement, Query

#3850 Prepare CompositeExpression for immutability
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
Labels: Deprecation, Improvement, Query

#3853 Deprecate calling QueryBuilder methods with an array argument
  UPGRADE.md
  lib/Doctrine/DBAL/Query/QueryBuilder.php
Labels: Deprecation, Query

#3821 [pg] fix getting table information if search_path contains escaped schema name
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
Labels: Bug, PostgreSQL, Schema Introspection

#3854 Manually merge 2.11.x into 3.0.x
  UPGRADE.md
  docs/en/reference/query-builder.rst
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Merge Up

#3857 Manually merge 3.0.x into master
  .scrutinizer.yml
  .travis.yml
  UPGRADE.md
  docs/en/reference/query-builder.rst
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  tests/Doctrine/Tests/DBAL/Functional/PDOStatementTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
  tests/Doctrine/Tests/DBAL/Query/QueryBuilderTest.php
Labels: Merge Up

#3858 Make CompositeExpression immutable
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
Labels: BC Break, Improvement, Query

#3859 Reorganize upgrade notes
  UPGRADE.md
Labels: Documentation, Improvement

#3862 Specify the platform configuration in composer.json
  composer.json
  composer.lock
Labels: Improvement, Tools

#3865 Remove ExpressionBuilder::andX()/orX()
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
Labels: BC Break, Improvement, Query

#3861 Deprecated the usage of the Version class
  UPGRADE.md
  lib/Doctrine/DBAL/Version.php
Labels: Deprecation, Tools

#3864 CompositeExpression and()/or() factory methods
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
Labels: Deprecation, Query

#3860 Drop Doctrine\DBAL\Version in favor of Ocramius\PackageVersions
  UPGRADE.md
  composer.json
  composer.lock
  lib/Doctrine/DBAL/Tools/Console/ConsoleRunner.php
  lib/Doctrine/DBAL/Version.php
Labels: BC Break, Improvement, Tools

#3866 Manually merge 2.11.x into 3.0.x
  UPGRADE.md
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
Labels: Merge Up

#3867 Manually merge 3.0.x into master
  UPGRADE.md
  composer.json
  composer.lock
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
Labels: Merge Up

#3868 Disallow empty CompositeExpression
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  tests/Doctrine/Tests/DBAL/Query/Expression/CompositeExpressionTest.php
Labels: Improvement, Query
