Repository doctrine/dbal, pull requests merged in 2021-05, with the labels that each got.

#4623 Support Doctrine Cache 2
  composer.json
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
Labels: Cache, Improvement

#4635 Address class rename in the docs
  docs/en/reference/caching.rst
Labels: Documentation

#4638 Fix #4637 by duplicating the type definition for `DriverManager::getConnection($args)` params
  .github/workflows/static-analysis.yml
  lib/Doctrine/DBAL/DriverManager.php
  phpcs.xml.dist
  psalm-strict.xml
  psalm.xml.dist
  tests/Doctrine/StaticAnalysis/DBAL/driver-manager-retrieves-correct-connection-type.php
  tests/Doctrine/Tests/DBAL/DriverManagerTest.php
Labels: Bug, Static Analysis, Strict Typing

#4647 [GH-4645] Use error suppression instead of an error handler in MySQLi Connection
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  tests/Doctrine/Tests/DBAL/Driver/Mysqli/MysqliConnectionTest.php
Labels: Bug, Connections, Error Handling, mysqli

#4639 Add tests for wrapped PSR-6 caches
  tests/Functional/ResultCacheTest.php
Labels: Cache, Test Suite

#4648 [GH-4643] Fix SQLServerPlatform::quoteIdentifier()
  lib/Doctrine/DBAL/Platforms/SQLServerPlatform.php
  tests/Doctrine/Tests/DBAL/Functional/Platform/QuotingTest.php
  tests/Doctrine/Tests/DBAL/Platforms/AbstractSQLServerPlatformTestCase.php
Labels: Bug, Quoting, SQL Server

#4640 Make footgun more obvious
  docs/en/reference/caching.rst
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
Labels: Cache, Documentation

#4622 Add events for Transaction begin/commit/rollBack.
  docs/en/reference/events.rst
  src/Connection.php
  src/Event/TransactionBeginEventArgs.php
  src/Event/TransactionCommitEventArgs.php
  src/Event/TransactionEventArgs.php
  src/Event/TransactionRollBackEventArgs.php
  src/Events.php
  tests/ConnectionTest.php
Labels: Events, Improvement, Transactions
