Repository doctrine/dbal, pull requests merged in 2021-09, with the labels that each got.

#4771 Remove platform-unaware schema comparison API
  UPGRADE.md
  src/Schema/Comparator.php
  src/Schema/Schema.php
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Schema/ColumnCommentTest.php
  tests/Functional/Schema/ComparatorTest.php
  tests/Functional/Schema/ComparatorTestUtils.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Ticket/DBAL510Test.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/AbstractPostgreSQLPlatformTestCase.php
  tests/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Platforms/MySQLPlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/SqlitePlatformTest.php
  tests/Schema/ComparatorTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
Labels: Improvement, BC Break, Schema Comparison

#4776 Retain SQLite column position when renaming or altering
  src/Platforms/SqlitePlatform.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/SqlitePlatformTest.php
Labels: Bug, SQLite, Platforms

#4780 Update PHPStan to 0.12.96
  composer.json
  phpstan.neon.dist
Labels: Static Analysis, Dependencies

#4778 Merge 3.1.x into 3.2.x
  src/Platforms/DB2Platform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/DB2SchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/Db2SchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/SqlitePlatformTest.php
Labels: Merge Up

#4779 Merge 3.2.x into 4.0.x
  .gitattributes
  .github/workflows/continuous-integration.yml
  composer.json
  phpstan.neon.dist
  psalm.xml.dist
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Query/Expression/CompositeExpression.php
  src/Schema/DB2SchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/Db2SchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/SqlitePlatformTest.php
Labels: Merge Up

#4784 Update Psalm to 4.10.0
  composer.json
  lib/Doctrine/DBAL/Platforms/OraclePlatform.php
  tests/Doctrine/Tests/DBAL/Platforms/OraclePlatformTest.php
Labels: Test Suite, Static Analysis, Dependencies

#4787 Merge 2.13.x into 3.1.x
  UPGRADE.md
  composer.json
  phpstan.neon.dist
  src/Platforms/OraclePlatform.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up

#4788 Don't fake the PHP version anymore
  .github/workflows/continuous-integration.yml
Labels: CI, PHP

#4785 Deprecate not passing $fromColumn to ColumnDiff
  UPGRADE.md
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
Labels: Schema Comparison, Deprecation

#4777 Represent table columns as list in the order of declaration
  UPGRADE.md
  src/Platforms/SqlitePlatform.php
  src/Schema/Comparator.php
  src/Schema/Table.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Platforms/SqlitePlatformTest.php
Labels: Improvement, Schema, BC Break

#4786 Require the original column to be set on the column diff
  UPGRADE.md
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/AbstractPostgreSQLPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Schema/ColumnDiffTest.php
  tests/Schema/ComparatorTest.php
Labels: BC Break, Schema Comparison

#4789 Deprecate features of Table::getColumns()
  UPGRADE.md
Labels: Schema, Deprecation

#4791 Merge 2.13.x up into 3.1.x
  .github/workflows/continuous-integration.yml
Labels: Merge Up

#4792 Do not normalize current version during comparison
  lib/Doctrine/DBAL/Version.php
  psalm.xml.dist
Labels: Bug, Static Analysis

#4793 Do not pass NULL to internal functions that do not expect NULL
  src/Statement.php
Labels: PHP, PDO

#4794 Merge 3.1.x into 3.2.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  composer.json
  phpstan.neon.dist
  src/Platforms/OraclePlatform.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up

#4799 Remove suppression for MissingNativeTypeHint errors
  phpcs.xml.dist
  src/Connection.php
  src/Driver/OCI8/Connection.php
  src/Platforms/SQLServerPlatform.php
Labels: Code Style, Strict Typing

#4797 Remove support for passing assets as names
  src/Event/SchemaDropTableEventArgs.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/SchemaDiff.php
  src/Schema/SqliteSchemaManager.php
  src/Schema/Table.php
  src/Schema/Visitor/CreateSchemaSqlCollector.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  tests/Functional/ForeignKeyExceptionTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/AbstractPostgreSQLPlatformTestCase.php
  tests/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Schema/ComparatorTest.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
  tests/Schema/SchemaDiffTest.php
  tests/Schema/SchemaTest.php
  tests/Schema/TableTest.php
  tests/Schema/Visitor/DropSchemaSqlCollectorTest.php
  tests/Schema/Visitor/SchemaSqlCollectorTest.php
Labels: Platforms, Events, Schema, BC Break

#4801 Require $table in SQLServerPlatform::getDropIndexSQL()
  src/Platforms/AbstractPlatform.php
  src/Platforms/SQLServerPlatform.php
  tests/Platforms/MySQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
Labels: SQL Server, Schema Management

#4802 Platform API cleanup
  UPGRADE.md
  psalm.xml.dist
  src/Driver/API/SQLite/UserDefinedFunctions.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: Improvement, SQLite, SQL Server, Oracle, Deprecation

#4803 Remove AbstractPlatform::getSequencePrefix()
  src/Platforms/AbstractPlatform.php
Labels: Platforms, Sequences

#4805 Deprecate AbstractPlatform::canEmulateSchemas()
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: SQLite, Deprecation

#4804 Remove AbstractPlatform::canEmulateSchemas()
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: SQLite, Platforms, BC Break

#4807 Generalize platform SQL
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/OracleSchemaManager.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
Labels: MySQL, PostgreSQL, SQLite, SQL Server, IBM DB2, Oracle, Platforms, Schema, Sequences, Databases

#4806 Remove $name from AbstractPlatform object declaration methods
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  tests/Platforms/AbstractPlatformTestCase.php
Labels: Platforms, BC Break, Indexes

#4808 Make DB2Platform::initializeDoctrineTypeMappings() protected
  src/Platforms/DB2Platform.php
  tests/Platforms/DB2PlatformTest.php
Labels: IBM DB2, Type Mapping

#4812 Deprecate Schema::getTableNames()
  UPGRADE.md
  src/Schema/Schema.php
Labels: Schema, Deprecation

#4811 Fix Schema::getTableNames()
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/SchemaTest.php
Labels: Bug, Schema

#4815 Fix renaming upper-cased SQLite columns
  src/Platforms/SqlitePlatform.php
  tests/Functional/Platform/RenameColumnTest.php
Labels: Bug, Regression, SQLite, Platforms

#4819 PHPUnit 9.5.10
  composer.json
Labels: CI, Dependencies

#4820 Merge 3.1.x into 3.2.x
  src/Platforms/SqlitePlatform.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/SchemaTest.php
Labels: Merge Up

#4822 Deprecate schema methods related to explicit foreign key indexes
  UPGRADE.md
  psalm.xml.dist
  src/Schema/Schema.php
  src/Schema/SchemaConfig.php
Labels: Schema, Deprecation

#4825 Fix version displayed in `ConsoleRunner`
  src/Tools/Console/ConsoleRunner.php
Labels: Bug, Console

#4827 Backport doc block fix
  lib/Doctrine/DBAL/Schema/AbstractAsset.php
Labels: Documentation

#4826 Remove obsolete error suppression
  psalm.xml.dist
Labels: Static Analysis

#4814 Deprecate AbstractAsset::getFullQualifiedName()
  UPGRADE.md
  psalm.xml.dist
  src/Schema/AbstractAsset.php
  src/Schema/Schema.php
Labels: Schema, Deprecation

#4818 Cast decimals to string on SQLite
  lib/Doctrine/DBAL/Types/DecimalType.php
  tests/Doctrine/Tests/DBAL/Functional/Types/DecimalTest.php
Labels: pdo_sqlite, PHP

#4821 Deprecate AbstractSchemaManager::getSchemaSearchPaths()
  UPGRADE.md
  psalm.xml.dist
  src/Schema/AbstractSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SqliteSchemaManager.php
Labels: PostgreSQL, Schema Management, Schema, Deprecation

#4830 Merge 3.2.x into 4.0.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  composer.json
  phpstan.neon.dist
  psalm.xml.dist
  src/Driver/API/SQLite/UserDefinedFunctions.php
  src/Driver/OCI8/Statement.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractAsset.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Comparator.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaConfig.php
  src/Schema/SqliteSchemaManager.php
  src/Tools/Console/ConsoleRunner.php
  src/Types/DecimalType.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/SchemaTest.php
  tests/Functional/Types/DecimalTest.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up

#4834 Build ibm_db2 with a public driver
  ci/github/ext/install-ibm_db2.sh
Labels: CI, ibm_db2

#4835 Merge 2.13.x into 3.1.x
  ci/github/ext/install-ibm_db2.sh
Labels: Merge Up

#4836 Merge 3.1.x into 3.2.x
  ci/github/ext/install-ibm_db2.sh
Labels: Merge Up

#4837 Merge 3.2.x into 4.0.x
  ci/github/ext/install-ibm_db2.sh
Labels: Merge Up
