Repository doctrine/dbal, pull requests merged in 2021-03, with the labels that each got.

#4519 Deprecate Connection::$_schemaManager and Connection::getSchemaManager()
  UPGRADE.md
  src/Connection.php
Labels: Connections, Deprecation, Schema Managers

#4524 Update PHPStan to 0.12.80
  composer.json
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/DriverManager.php
Labels: Drivers, Static Analysis, mysqli

#4513 Bump Psalm level to 2
  lib/Doctrine/DBAL/Configuration.php
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Connection.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/PDOSqlsrv/Connection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Platforms/AbstractPlatform.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php
  lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  lib/Doctrine/DBAL/Schema/Table.php
  lib/Doctrine/DBAL/Schema/Visitor/DropSchemaSqlCollector.php
  lib/Doctrine/DBAL/Schema/Visitor/RemoveNamespacedAssets.php
  psalm.xml.dist
  tests/Doctrine/Tests/DBAL/Functional/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SQLAnywhereSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Doctrine/Tests/DBAL/Functional/StatementTest.php
  tests/Doctrine/Tests/DBAL/Functional/TemporaryTableTest.php
  tests/Doctrine/Tests/DBAL/Functional/WriteTest.php
  tests/Doctrine/Tests/DBAL/Platforms/OraclePlatformTest.php
  tests/Doctrine/Tests/DBAL/Query/Expression/ExpressionBuilderTest.php
  tests/Doctrine/Tests/DBAL/Schema/DB2SchemaManagerTest.php
  tests/Doctrine/Tests/DbalFunctionalTestCase.php
Labels: Static Analysis

#4526 Suppress Psalm issues regarding mysqli_init()
  psalm.xml.dist
Labels: Static Analysis, mysqli

#4527 Deprecate Connection::getExpressionBuilder()
  UPGRADE.md
  src/Connection.php
Labels: Connections, Deprecation

#4525 [Mysql] ignore index length for spatial indexes
  lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php
Labels: Bug, Indexes, MySQL

#4532 Manually merge 3.0.x into 3.1.x
  composer.json
  docs/en/reference/data-retrieval-and-manipulation.rst
  phpstan.neon.dist
  psalm.xml.dist
  src/Cache/ArrayResult.php
  src/Connection.php
  src/Driver/Mysqli/Connection.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Connection.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/SQLSrv/Result.php
  src/DriverManager.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQL94Platform.php
  src/Portability/Converter.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SchemaConfig.php
  src/Schema/SqliteSchemaManager.php
  src/Schema/Table.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  src/Schema/Visitor/RemoveNamespacedAssets.php
  tests/Functional/Connection/ConnectionLostTest.php
  tests/Functional/ConnectionTest.php
  tests/Functional/Driver/IBMDB2/ConnectionTest.php
  tests/Functional/Driver/PDO/ConnectionTest.php
  tests/Functional/Platform/AddColumnWithDefaultTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/StatementTest.php
  tests/Functional/TemporaryTableTest.php
  tests/Functional/TransactionTest.php
  tests/Functional/WriteTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Schema/DB2SchemaManagerTest.php
Labels: Merge Up

#4534 Deprecate Statement::bindParam($driverOptions)
  UPGRADE.md
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
Labels: Deprecation, PDO, pdo_sqlsrv

#4518 Remove Connection::$_schemaManager and ::getSchemaManager()
  UPGRADE.md
  docs/en/reference/schema-manager.rst
  psalm.xml.dist
  src/Connection.php
  src/Tools/Console/Command/ReservedWordsCommand.php
  tests/Functional/BlobTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/OCI8/ConnectionTest.php
  tests/Functional/ExceptionTest.php
  tests/Functional/ForeignKeyExceptionTest.php
  tests/Functional/LegacyAPITest.php
  tests/Functional/LockMode/NoneTest.php
  tests/Functional/ModifyLimitQueryTest.php
  tests/Functional/NamedParametersTest.php
  tests/Functional/Platform/AddColumnWithDefaultTest.php
  tests/Functional/Platform/ColumnTest.php
  tests/Functional/Platform/DateExpressionTest.php
  tests/Functional/Platform/DefaultExpressionTest.php
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Platform/PlatformRestrictionsTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/ResultCacheTest.php
  tests/Functional/Schema/ColumnCommentTest.php
  tests/Functional/Schema/ComparatorTest.php
  tests/Functional/Schema/DefaultValueTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/StatementTest.php
  tests/Functional/TemporaryTableTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL202Test.php
  tests/Functional/Ticket/DBAL510Test.php
  tests/Functional/Ticket/DBAL752Test.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/AsciiStringTest.php
  tests/Functional/Types/BinaryTest.php
  tests/Functional/WriteTest.php
  tests/TestUtil.php
Labels: BC Break, Bug, Connections, Schema Managers

#4540 Remove Connection::getExpressionBuilder()
  UPGRADE.md
  psalm.xml.dist
  src/Connection.php
  src/Query/QueryBuilder.php
  tests/Query/Expression/ExpressionBuilderTest.php
  tests/Query/QueryBuilderTest.php
Labels: BC Break, Connections

#4542 Update PHPStan to 0.12.81
  .github/workflows/static-analysis.yml
  composer.json
  phpstan.neon.dist
Labels: Static Analysis

#4546 Remove Statement::bindParam($driverOptions)
  UPGRADE.md
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
Labels: BC Break, PDO, Prepared Statements, pdo_sqlsrv

#4543 Remove incomplete details of QueryBuilder::setParameter($type)
  lib/Doctrine/DBAL/Query/QueryBuilder.php
Labels: Documentation

#4529 Improve forward compatibility between 2.x and 3.0
  lib/Doctrine/DBAL/Connection.php
  lib/Doctrine/DBAL/ForwardCompatibility/Result.php
  lib/Doctrine/DBAL/Portability/Connection.php
  lib/Doctrine/DBAL/Result.php
  tests/Doctrine/Tests/DBAL/ConnectionTest.php
  tests/Doctrine/Tests/DBAL/ForwardCompatibility/ResultTest.php
  tests/Doctrine/Tests/DBAL/Functional/Connection/BackwardCompatibility/Connection.php
  tests/Doctrine/Tests/DBAL/Functional/ResultCacheTest.php
Labels: Connections, Improvement, Prepared Statements

#4547 Deprecate AbstractPlatform::getReservedKeywordsClass()
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MariaDb1027Platform.php
  src/Platforms/MySQL57Platform.php
  src/Platforms/MySQL80Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQL100Platform.php
  src/Platforms/PostgreSQL94Platform.php
  src/Platforms/SQLServer2012Platform.php
  src/Platforms/SqlitePlatform.php
Labels: Deprecation, Platforms, Reserved Keywords

#4549 Upgrade Psalm to 4.6.4
  .github/workflows/static-analysis.yml
  composer.json
  psalm.xml.dist
Labels: Static Analysis, mysqli

#4548 Deprecations in schema- and namespace-related APIs
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQL94Platform.php
  src/Platforms/SQLServer2012Platform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Deprecation, Improvement, Schema, Schema Managers

#4465 Update JetBrains PhpStorm stubs to v2020.2
  composer.json
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  psalm.xml.dist
Labels: Static Analysis, mysqli, pdo_pgsql, sqlsrv

#4552 Remove the no longer needed Psalm issue suppressions
  phpstan.neon.dist
  psalm.xml.dist
  src/Connections/PrimaryReadReplicaConnection.php
Labels: Static Analysis

#4556 Merge 2.12
  .github/workflows/static-analysis.yml
  composer.json
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php
  lib/Doctrine/DBAL/Query/QueryBuilder.php
  phpstan.neon.dist
  psalm.xml.dist
Labels: Merge Up

#4559 Use a numeric string as default depth in `dbal:run-sql` command
  lib/Doctrine/DBAL/Tools/Console/Command/RunSqlCommand.php
Labels: Bug, Static Analysis, Tools

#4566 Merge 3.0.x into 3.1.x
  .github/workflows/static-analysis.yml
  composer.json
  phpstan.neon.dist
  psalm.xml.dist
  src/Event/SchemaAlterTableAddColumnEventArgs.php
  src/Platforms/AbstractPlatform.php
  src/Query/Expression/CompositeExpression.php
  src/Query/Expression/ExpressionBuilder.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Tools/Console/Command/RunSqlCommand.php
Labels: Merge Up
