Repository doctrine/dbal, pull requests merged in 2021-10, with the labels that each got.

#4831 Remove deprecated APIs
  UPGRADE.md
  phpcs.xml.dist
  psalm.xml.dist
  src/Connections/PrimaryReadReplicaConnection.php
  src/Driver/PDO/SQLite/Driver.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractAsset.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaConfig.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaTest.php
  tests/Platforms/AbstractSQLServerPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Schema/SchemaTest.php
  tests/Schema/TableTest.php
  tests/Schema/Visitor/RemoveNamespacedAssetsTest.php
Labels: PostgreSQL, SQLite, SQL Server, Oracle, Schema Management, Schema, BC Break

#4833 Add explanation why we need to cast float to string in decimal type
  lib/Doctrine/DBAL/Types/DecimalType.php
Labels: Documentation

#4839 Deprecate the Constraint interface
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Constraint.php
  src/Schema/ForeignKeyConstraint.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Improvement, MySQL, Oracle, Platforms, Schema Management, Schema, Foreign Keys, Indexes, Deprecation

#4840 Merge 3.2.x into 4.0.x
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Constraint.php
  src/Schema/ForeignKeyConstraint.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Merge Up

#4841 Merge 2.13.x up into 3.1.x
  src/Types/DecimalType.php
Labels: Merge Up

#4842 Remove the Constraint interface
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Constraint.php
  src/Schema/Exception/NamedForeignKeyRequired.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/Index.php
  src/Schema/Table.php
  src/Schema/UniqueConstraint.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/SqlitePlatformTest.php
  tests/Schema/Visitor/DropSchemaSqlCollectorTest.php
Labels: Platforms, Schema Management, Schema, BC Break, Foreign Keys, Indexes

#4843 Mark Statement::execute() private, remove QueryBuilder::execute()
  UPGRADE.md
  psalm.xml.dist
  src/Query/QueryBuilder.php
  src/Statement.php
  tests/Connection/LoggingTest.php
  tests/Functional/BlobTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/OCI8/ResultTest.php
  tests/Functional/Driver/OCI8/StatementTest.php
  tests/Functional/LikeWildcardsEscapingTest.php
  tests/Functional/ParameterTypes/AsciiTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/StatementTest.php
  tests/Functional/Ticket/DBAL202Test.php
  tests/Functional/Ticket/DBAL630Test.php
  tests/Functional/WriteTest.php
  tests/Query/QueryBuilderTest.php
  tests/StatementTest.php
Labels: BC Break, Prepared Statements

#4940 Fix connection leaks in Oracle functional tests
  tests/Functional/Schema/OracleSchemaManagerTest.php
Labels: Bug, Test Suite, pdo_oci, Connections

#4939 Use CONCAT() with SQL Server to concatenate strings
  src/Platforms/SQLServer2012Platform.php
  tests/Functional/Platform/ConcatExpressionTest.php
Labels: Bug, SQL Server, Platforms
