Repository doctrine/dbal, pull requests merged in 2021-08, with the labels that each got.

#4740 Fix links to the recommended exception interface
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Exception.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliException.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Exception.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvException.php
Labels: Documentation

#4739 Code cleanup
  src/Cache/QueryCacheProfile.php
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Logging/LoggerChain.php
  src/Platforms/Keywords/ReservedKeywordsValidator.php
  src/Schema/Index.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/UniqueConstraint.php
  src/Tools/Dumper.php
  tests/Cache/QueryCacheProfileTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/ResultCacheTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/AbstractPostgreSQLPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Query/QueryBuilderTest.php
  tests/Schema/ComparatorTest.php
  tests/Schema/SchemaTest.php
  tests/Schema/TableTest.php
Labels: Static Analysis

#4734 Add ReturnTypeWillChange to core interface implementations
  lib/Doctrine/DBAL/Cache/ArrayStatement.php
  lib/Doctrine/DBAL/Cache/ResultCacheStatement.php
  lib/Doctrine/DBAL/Driver/IBMDB2/DB2Statement.php
  lib/Doctrine/DBAL/Driver/Mysqli/MysqliStatement.php
  lib/Doctrine/DBAL/Driver/OCI8/OCI8Statement.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php
  lib/Doctrine/DBAL/Driver/StatementIterator.php
  lib/Doctrine/DBAL/ForwardCompatibility/Result.php
  lib/Doctrine/DBAL/Portability/Statement.php
  lib/Doctrine/DBAL/Query/Expression/CompositeExpression.php
  lib/Doctrine/DBAL/Statement.php
  tests/Doctrine/Tests/DBAL/Functional/Connection/BackwardCompatibility/Statement.php
Labels: PHP

#4736 Don't use null as exception message
  tests/Doctrine/Tests/DBAL/Driver/AbstractDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractMySQLDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractOracleDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractPostgreSQLDriverTest.php
  tests/Doctrine/Tests/DBAL/Driver/AbstractSQLAnywhereDriverTest.php
Labels: PHP

#4743 Deprecate reference from foreign key to its referencing table
  UPGRADE.md
  psalm.xml.dist
  src/Schema/ForeignKeyConstraint.php
Labels: Deprecation, Foreign Keys, Schema Comparison, Schema Definition

#4742 Remove reference from foreign key to its referencing table
  UPGRADE.md
  docs/en/reference/schema-manager.rst
  phpcs.xml.dist
  psalm.xml.dist
  src/Schema/Comparator.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/SchemaDiff.php
  src/Schema/Table.php
  src/Schema/Visitor/Graphviz.php
  tests/Schema/ComparatorTest.php
  tests/Schema/SchemaDiffTest.php
  tests/Schema/SchemaTest.php
Labels: BC Break, Bug, Foreign Keys, Schema Comparison, Schema Definition

#3425 Improve ConnectionTest by triggering real exceptions
  tests/Functional/ConnectionTest.php
Labels: Improvement, Test Suite, Transactions

#4735 PHP 8.1 compatibility for 2.13
  .github/workflows/continuous-integration.yml
  lib/Doctrine/DBAL/ForwardCompatibility/Result.php
  lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php
  lib/Doctrine/DBAL/Schema/AbstractAsset.php
  lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php
  lib/Doctrine/DBAL/Statement.php
  tests/Doctrine/Tests/DBAL/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Doctrine/Tests/DBAL/Functional/TypeConversionTest.php
  tests/Doctrine/Tests/DBAL/Tools/DumperTest.php
  tests/Doctrine/Tests/DBAL/Types/VarDateTimeTest.php
Labels: PHP

#4752 Code cleanup
  src/Exception.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SqliteSchemaManager.php
Labels: PostgreSQL, SQLite, Error Handling, Schema Introspection

#4753 Deprecate AbstractPlatform::getNowExpression()
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQL94Platform.php
  src/Platforms/SqlitePlatform.php
Labels: Platforms, Deprecation

#4756 Code cleanup
  src/Cache/QueryCacheProfile.php
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Logging/LoggerChain.php
  src/Platforms/Keywords/ReservedKeywordsValidator.php
  src/Schema/Index.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/UniqueConstraint.php
  src/Tools/Dumper.php
  tests/Cache/QueryCacheProfileTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/ResultCacheTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/AbstractPostgreSQLPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Query/QueryBuilderTest.php
  tests/Schema/ComparatorTest.php
  tests/Schema/SchemaTest.php
  tests/Schema/TableTest.php
Labels: Test Suite, Tools, Cache, Logging, Prepared Statements, Foreign Keys, Indexes, Reserved Keywords

#4765 Fix introspection of BLOB columns on SQL Server
  src/Platforms/SQLServer2012Platform.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, SQL Server, Schema Introspection

#4768 Remove obsolete TODO annotation
  src/Platforms/MySQLPlatform.php
Labels: Documentation

#4767 Deprecate SQLAnywhere driver
  UPGRADE.md
  lib/Doctrine/DBAL/Driver/AbstractSQLAnywhereDriver.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/Driver.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereConnection.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereException.php
  lib/Doctrine/DBAL/Driver/SQLAnywhere/SQLAnywhereStatement.php
  lib/Doctrine/DBAL/Platforms/SQLAnywhere11Platform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywhere12Platform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywhere16Platform.php
  lib/Doctrine/DBAL/Platforms/SQLAnywherePlatform.php
Labels: sqlanywhere, Deprecation

#4766 Fix introspection of BINARY columns
  src/Platforms/DB2Platform.php
  src/Schema/DB2SchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Schema/Db2SchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Bug, SQL Server, IBM DB2, Oracle, Schema Introspection

#4770 Merge 3.1.x into 3.2.x
  .gitattributes
  .github/workflows/continuous-integration.yml
  phpstan.neon.dist
  psalm.xml.dist
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Query/Expression/CompositeExpression.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up
