Repository doctrine/dbal, pull requests merged in 2022-09, with the labels that each got.

#5639 Optimize MySQLSchemaManager::selectTableColumns()
  src/Schema/MySQLSchemaManager.php
Labels: Regression, MySQL, Performance

#5640 Do not use ColumnDiff::$changedProperties in SQLServerPlatform::getAlterTableSQL()
  src/Platforms/SQLServerPlatform.php
Labels: SQL Server, Schema Management

#5641 Do not use ColumnDiff::$changedProperties in PostgreSQLPlatform::getAlterTableSQL()
  src/Platforms/PostgreSQLPlatform.php
  tests/Functional/Schema/PostgreSQL/ComparatorTest.php
Labels: PostgreSQL, Schema Management

#5643 Merge 3.5.x into 4.0.x
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/ColumnDiff.php
Labels: Merge Up

#5644 Restore changes lost during a previous merge up
  src/Schema/ColumnDiff.php
Labels: Merge Up

#5631 Require precision and scale for decimal columns
  UPGRADE.md
  src/Exception/ColumnPrecisionRequired.php
  src/Exception/ColumnScaleRequired.php
  src/Platforms/AbstractPlatform.php
  src/Schema/Comparator.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
Labels: BC Break, Schema Definition, Columns

#5646 Bump sa tools
  composer.json
  phpstan.neon.dist
  tests/Functional/Platform/DateExpressionTest.php
Labels: Test Suite, Dependencies

#5647 Remove ColumnDiff::$oldColumnName and ::getOldColumnName()
  UPGRADE.md
  psalm.xml.dist
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
  tests/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Schema/ColumnDiffTest.php
  tests/Schema/ComparatorTest.php
Labels: BC Break, Schema Comparison

#5648 Remove AbstractSchemaManager::createSchema()
  UPGRADE.md
  psalm.xml.dist
  src/Schema/AbstractSchemaManager.php
Labels: BC Break, Schema Introspection

#5650 Deprecate and mark internal APIs related to schema comparison
  UPGRADE.md
  psalm.xml.dist
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
Labels: Schema Comparison, Deprecation

#5651 Merge branch '3.5.x' into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
Labels: Merge Up

#5652 Make internal Comparator methods protected
  src/Schema/Comparator.php
  tests/Schema/ComparatorTest.php
  tests/Schema/ForeignKeyConstraintTest.php
Labels: Schema Comparison

#5657 Mark ColumnDiff public properties as internal
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/ColumnDiff.php
Labels: Schema Comparison, Deprecation

#5654 Reduce duplication of collation declaration code
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  tests/Platforms/SqlitePlatformTest.php
Labels: Platforms

#5660 Remove implementation of alterTable() for SQLite
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Test Suite, SQLite, Schema Management

#5665 Merge 3.5.x into 4.0.x
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/ColumnDiff.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Platforms/SQLitePlatformTest.php
Labels: Merge Up

#5664 Remove leftovers of handling foreign keys on non-InnoDB engines for MySQL
  src/Platforms/AbstractMySQLPlatform.php
Labels: MySQL, Schema Management, BC Break, Foreign Keys

#5666 Deprecate SchemaDiff::$fromSchema
  UPGRADE.md
  psalm.xml.dist
  src/Schema/SchemaDiff.php
Labels: Schema Comparison, Deprecation

#5656 Deprecate "unique" and "check" column properties
  UPGRADE.md
  docs/en/reference/schema-representation.rst
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
Labels: Columns, Deprecation

#5662 Introspect default constraint name
  UPGRADE.md
  src/Platforms/SQLServerPlatform.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Improvement, SQL Server, Schema Management, BC Break, Default Values

#5663 Deprecate renaming tables via TableDiff
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/TableDiff.php
Labels: Schema Comparison, Deprecation

#5667 Optimize MySQLSchemaManager::selectForeignKeyColumns()
  src/Schema/MySQLSchemaManager.php
Labels: Bug, Regression, MySQL, Performance, Schema Introspection

#5673 Merge 3.4.x into 3.5.x
  composer.json
  phpstan.neon.dist
  src/Connection.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/MySQLSchemaManager.php
  tests/Functional/Platform/DateExpressionTest.php
Labels: Merge Up

#5674 Merge 3.5.x into 4.0.x
  UPGRADE.md
  composer.json
  docs/en/reference/schema-representation.rst
  phpstan.neon.dist
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/SchemaDiff.php
  src/Schema/TableDiff.php
  tests/Functional/Platform/DateExpressionTest.php
Labels: Merge Up

#5675 Remove conditional comments for MySQL older than 5.1.16
  src/Schema/MySQLSchemaManager.php
Labels: MySQL, Schema Introspection, Foreign Keys

#5655 Remove support for "unique" and "check" column properties
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
Labels: BC Break, Columns

#5676 Remove SchemaDiff::$fromSchema
  UPGRADE.md
  psalm.xml.dist
  src/Schema/Comparator.php
  src/Schema/SchemaDiff.php
  tests/Schema/ComparatorTest.php
Labels: BC Break, Schema Comparison

#5678 Deprecate not passing $fromColumn to TableDiff
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/Comparator.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SqliteSchemaManager.php
  src/Schema/TableDiff.php
Labels: Schema Comparison, Deprecation

#5677 Remove support for renaming tables via TableDiff
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MariaDBPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/TableDiff.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/TableDiffTest.php
Labels: BC Break, Schema Comparison

#5679 Remove leftovers of renaming default contraints
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/SQLServerPlatform.php
  src/Schema/AbstractSchemaManager.php
Labels: SQL Server, Platforms, BC Break

#5680 Merge 3.5.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/Comparator.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/TableDiff.php
Labels: Merge Up

#5683 Remove TableDiff::$name and getName()
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MariaDBPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/Comparator.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/TableDiff.php
  tests/Functional/Platform/AddColumnWithDefaultTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/ComparatorTest.php
  tests/Schema/TableDiffTest.php
Labels: BC Break, Schema Comparison

#5684 Mark ColumnDiff properties as private and read-only
  src/Schema/ColumnDiff.php
  src/Schema/Comparator.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Schema/ComparatorTest.php
Labels: Schema Comparison

#5686 fix: always log savepoint release
  src/Connection.php
Labels: Logging, Transactions

#5696 Remove workaround for PHP bug in PostgreSQL exception handler
  src/Driver/API/PostgreSQL/ExceptionConverter.php
Labels: PostgreSQL, Error Handling, PHP

#5697 Deprecate driver name aliases
  UPGRADE.md
  docs/en/reference/configuration.rst
  src/DriverManager.php
Labels: Connections, Configuration, Deprecation

#5699 Deprecate platform parameter of wrapper Connection
  UPGRADE.md
  docs/en/reference/configuration.rst
  src/Connection.php
Labels: Connections, Configuration, Deprecation

#5703 Remove platform parameter of wrapper Connection
  UPGRADE.md
  src/Connection.php
  src/DriverManager.php
  src/Exception/InvalidPlatformType.php
  tests/ConnectionTest.php
  tests/DriverManagerTest.php
  tests/Exception/InvalidPlatformTypeTest.php
  tests/ExceptionTest.php
Labels: Connections, Configuration, BC Break

#5704 Remove driver name aliases
  UPGRADE.md
  src/DriverManager.php
  src/Exception/InvalidDriverClass.php
  src/Exception/InvalidWrapperClass.php
  src/Exception/UnknownDriver.php
  tests/DriverManagerTest.php
Labels: Connections, Configuration, BC Break
