Repository doctrine/dbal, pull requests merged in 2022-08, with the labels that each got.

#5558 Deprecate not passing parameter type to bindParam() and bindValue()
  UPGRADE.md
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Logging/Statement.php
Labels: Prepared Statements, Deprecation

#5561 Merge 3.4.x into 4.0.x
  UPGRADE.md
  docs/en/reference/query-builder.rst
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Logging/Statement.php
  src/Query/QueryBuilder.php
  src/Statement.php
  tests/Functional/ExceptionTest.php
  tests/Query/QueryBuilderTest.php
Labels: Merge Up

#5560 Remove the APIs deprecated in DBAL 3.x
  UPGRADE.md
  phpcs.xml.dist
  src/Cache/QueryCacheProfile.php
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Driver/Statement.php
  src/ExpandArrayParameters.php
  src/Logging/Statement.php
  src/Portability/Statement.php
  src/Query.php
  src/Query/QueryBuilder.php
  src/Statement.php
  tests/Connection/ExpandArrayParametersTest.php
  tests/Driver/Middleware/AbstractStatementMiddlewareTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/OCI8/StatementTest.php
  tests/Functional/StatementTest.php
  tests/Logging/MiddlewareTest.php
  tests/Portability/StatementTest.php
  tests/Query/QueryBuilderTest.php
Labels: BC Break, Prepared Statements

#5563 Deprecate Statement::bindParam()
  UPGRADE.md
  psalm.xml.dist
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Driver/Statement.php
  src/Logging/Statement.php
  src/Statement.php
Labels: Prepared Statements, Deprecation

#5564 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Driver/Statement.php
  src/Logging/Statement.php
  src/Statement.php
Labels: Merge Up

#5565 Remove Statement::bindParam()
  UPGRADE.md
  src/Driver/IBMDB2/Statement.php
  src/Driver/Middleware/AbstractStatementMiddleware.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Driver/Statement.php
  src/Logging/Statement.php
  src/Statement.php
  tests/Functional/BlobTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/StatementTest.php
  tests/Logging/MiddlewareTest.php
  tests/Portability/StatementTest.php
Labels: BC Break, Prepared Statements

#5566 Do not treat deprecation level as errors
  src/Types/ArrayType.php
  tests/Types/ArrayTest.php
  tests/Types/Fixtures/UnserializeWithDeprecationObject.php
Labels: Bug, Type Conversion

#5567 Do not require a WHERE in update() and delete() Connection operations
  UPGRADE.md
  src/Connection.php
  src/Exception/EmptyCriteriaNotAllowed.php
  tests/ConnectionTest.php
  tests/Exception/EmptyCriteriaNotAllowedTest.php
  tests/Functional/WriteTest.php
Labels: Improvement, Connections, BC Break

#5568 Mark remaining schema introspection platform methods as internal
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: Platforms, Documentation, Schema Introspection

#5569 Merge 3.3.x into 3.4.x
  src/Types/ArrayType.php
  tests/Types/ArrayTest.php
  tests/Types/Fixtures/UnserializeWithDeprecationObject.php
Labels: Merge Up

#5571 Update documentation for release 3.4
  .doctrine-project.json
  README.md
Labels: Documentation

#5577 Do not add artificial name to anonymous SQLite constraint
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Bug, SQLite, Foreign Keys

#5581 Filter out the "sysdiagrams" table on SQL Server
  src/Schema/SQLServerSchemaManager.php
Labels: Bug, Regression, SQL Server, Schema Introspection

#5585 Expect an SQLServerPlatform instance in AbstractSQLServerDriver
  src/Driver/AbstractSQLServerDriver.php
Labels: Bug, pdo_sqlsrv, sqlsrv, Drivers, Static Analysis

#5587 Cleanup UPDGRADE.md for the 4.0 release
  UPGRADE.md
Labels: Documentation

#5589 Allow to call $column1->setColumnDefinition($column2->getColumnDefinition())
  src/Schema/Column.php
Labels: Columns, Static Analysis

#5590 Update documentation on schema comparison
  docs/en/reference/schema-representation.rst
Labels: Documentation, Schema Comparison

#5586 Index components for listTables() by portable table definition
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Regression, PostgreSQL, Schema Introspection, Namespaces

#5591 Add a test for quoting table names in schema
  tests/Functional/Schema/OracleSchemaManagerTest.php
Labels: Test Suite, Oracle, Schema Introspection

#5580 Filter MySQL and Oracle columns by table type
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Regression, MySQL, Oracle, Schema Introspection

#5576 Rework introspection of table indexes and foreign keys on Postgres
  src/Schema/AbstractSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Regression, PostgreSQL, Quoting, Schema Introspection, Foreign Keys, Indexes, Reserved Keywords, Identifiers

#5595 Deprecate AbstractSchemaManager::listTableDetails()
  UPGRADE.md
  docs/en/reference/schema-manager.rst
  psalm.xml.dist
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/PlatformRestrictionsTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/ComparatorTest.php
  tests/Functional/Schema/ComparatorTestUtils.php
  tests/Functional/Schema/DefaultValueTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL510Test.php
  tests/Functional/Ticket/DBAL752Test.php
Labels: Schema Introspection, Deprecation

#5599 Fix condition in PostgreSQL only test
  tests/Functional/Ticket/DBAL168Test.php
Labels: Test Suite, PostgreSQL

#5597 Fix parsing SQLite FK reference not containing whitepace
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Bug, SQLite, Schema Introspection, Foreign Keys

#5594 Merge 3.4.x into 4.0.x
  .doctrine-project.json
  README.md
  UPGRADE.md
  docs/en/reference/schema-representation.rst
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Column.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
Labels: Merge Up

#5602 Merge 3.5.x into 4.0.x
  UPGRADE.md
  docs/en/reference/schema-manager.rst
  psalm.xml.dist
  src/Schema/AbstractSchemaManager.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/PlatformRestrictionsTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/ComparatorTest.php
  tests/Functional/Schema/ComparatorTestUtils.php
  tests/Functional/Schema/DefaultValueTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL510Test.php
  tests/Functional/Ticket/DBAL752Test.php
Labels: Merge Up

#5604 Fix DropSchemaObjectsSQLBuilder issues
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
Labels: Bug, Regression, PostgreSQL, Schema Management, Sequences, Namespaces

#5605 Remove AbstractSchemaManager::listTableDetails()
  UPGRADE.md
  psalm.xml.dist
  src/Schema/AbstractSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/ColumnCommentTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
Labels: BC Break, Schema Introspection

#5607 Merge 3.4.x into 3.5.x
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  src/Schema/SqliteSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL168Test.php
Labels: Merge Up

#5610 Update JetBrains PhpStorm stubs to 2022.2
  .github/workflows/continuous-integration.yml
  composer.json
Labels: CI, Static Analysis, Dependencies

#5608 Merge 3.5.x into 4.0.x
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL168Test.php
Labels: Merge Up

#5612 Mark AbstractSchemaManager::_execSql() as internal
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/SchemaDiff.php
Labels: Schema Management, Deprecation

#5617 Fix database detection on SQLite with PORTABILITY_EMPTY_TO_NULL
  src/Platforms/SqlitePlatform.php
  tests/Functional/PortabilityTest.php
Labels: Bug, Regression, SQLite, Schema Introspection, Portability

#5620 Remove code compensating for a schema comparison flaw
  src/Platforms/OraclePlatform.php
  tests/Functional/Schema/Oracle/ComparatorTest.php
Labels: Oracle, Schema Management

#5622 Schema Diff API cleanup
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Schema/ColumnDiff.php
  src/Schema/SchemaDiff.php
  src/Schema/TableDiff.php
Labels: Schema Comparison, Deprecation

#5621 Remove redundant condition from DB2 platform
  src/Platforms/DB2Platform.php
Labels: IBM DB2, Schema Management

#5623 Do not use ColumnDiff::$changedProperties in OraclePlatform::getAlterTableSQL()
  src/Platforms/OraclePlatform.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
Labels: Oracle, Schema Management

#5626 Merge 3.5.x up into 4.0.x
  .github/workflows/continuous-integration.yml
  .github/workflows/release-on-milestone-closed.yml
  .github/workflows/static-analysis.yml
  UPGRADE.md
  composer.json
  docs/en/reference/schema-manager.rst
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/ColumnDiff.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/SchemaDiff.php
  src/Schema/TableDiff.php
  tests/Functional/Platform/AlterColumnTest.php
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Platform/PlatformRestrictionsTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/Schema/ColumnCommentTest.php
  tests/Functional/Schema/ComparatorTest.php
  tests/Functional/Schema/ComparatorTestUtils.php
  tests/Functional/Schema/DefaultValueTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL510Test.php
  tests/Functional/Ticket/DBAL752Test.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/TestUtil.php
Labels: Merge Up

#5629 Clean up test scenarios related to altering columns
  tests/Functional/Platform/AlterDecimalColumnTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
Labels: Test Suite, Schema Management

#5630 Rework AbstractSchemaManager::_execSql()
  src/Schema/AbstractSchemaManager.php
Labels: Schema Management

#5636 PHPUnit 9.5.24, Psalm 4.26.0
  composer.json
Labels: Test Suite, Static Analysis

#5637 Deprecate default precision and scale for decimal columns
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
Labels: Schema Definition, Columns, Deprecation
