Repository doctrine/dbal, pull requests merged in 2022-07, with the labels that each got.

#5471 Infer omitted column charset from collation
  src/Platforms/MySQL/CollationMetadataProvider.php
  src/Platforms/MySQL/CollationMetadataProvider/CachingCollationMetadataProvider.php
  src/Platforms/MySQL/CollationMetadataProvider/ConnectionCollationMetadataProvider.php
  src/Platforms/MySQL/Comparator.php
  src/Schema/MySQLSchemaManager.php
  tests/Functional/Schema/MySQL/ComparatorTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/MySQL/CollationMetadataProvider/CachingCollationMetadataProviderTest.php
  tests/Platforms/MySQL/ComparatorTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
Labels: Bug, Schema Management, Schema Comparison

#5475 Use double quotes for strings containing contractions
  tests/Functional/StatementTest.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/BinaryTest.php
Labels: Code Style

#5473 Merge 3.3.x into 3.4.x
  .github/workflows/continuous-integration.yml
  composer.json
  psalm.xml.dist
  src/Driver/IBMDB2/Exception/CannotWriteToTemporaryFile.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/OCI8/Statement.php
  src/Platforms/MySQL/CollationMetadataProvider.php
  src/Platforms/MySQL/CollationMetadataProvider/CachingCollationMetadataProvider.php
  src/Platforms/MySQL/CollationMetadataProvider/ConnectionCollationMetadataProvider.php
  src/Platforms/MySQL/Comparator.php
  src/Schema/MySQLSchemaManager.php
  tests/Functional/BlobTest.php
  tests/Functional/Schema/MySQL/ComparatorTest.php
  tests/Functional/StatementTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/MySQL/CollationMetadataProvider/CachingCollationMetadataProviderTest.php
  tests/Platforms/MySQL/ComparatorTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
Labels: Merge Up

#5476 Deprecate custom schema options
  UPGRADE.md
  psalm.xml.dist
  src/Schema/Column.php
Labels: Deprecation

#5478 Refer to the correct parameter in comment
  src/Query/QueryBuilder.php
Labels: Documentation

#5479 Fix AbstractMySQLPlatform comment typo
  src/Platforms/AbstractMySQLPlatform.php
Labels: Code Style

#5480 Deprecate Configuration::getSQLLogger() and setSQLLogger()
  UPGRADE.md
  psalm.xml.dist
  src/Configuration.php
Labels: Logging, Configuration, Deprecation

#5481 Merge 3.3.x into 3.4.x
  src/Platforms/AbstractMySQLPlatform.php
  src/Query/QueryBuilder.php
  tests/Functional/StatementTest.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/BinaryTest.php
Labels: Merge Up

#5482 Fix filtering tables according to the configuration
  src/Schema/AbstractSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Regression, Schema Introspection, Tables

#5483 Deprecate NULL schema asset filter
  UPGRADE.md
  src/Configuration.php
Labels: Configuration, Schema Introspection, Deprecation

#5484 Merge 3.4.x into 4.0.x
  UPGRADE.md
  src/Configuration.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/StatementTest.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/BinaryTest.php
Labels: Merge Up

#5487 Remove support for the NULL value of schema asset filter
  UPGRADE.md
  src/Configuration.php
  src/Schema/AbstractSchemaManager.php
Labels: Configuration, BC Break, Schema Introspection

#5493 Change max identifier length for 4.x
  src/Platforms/OraclePlatform.php
Labels: Oracle, Platforms

#5500 Table schema clone is not needed in SqlitePlatform
  src/Platforms/SqlitePlatform.php
Labels: SQLite, Schema Management

#5503 Fix link in deprecation message
  src/Schema/Comparator.php
Labels: Documentation, Schema Comparison

#5504 Bump Symfony components to supported version ranges
  composer.json
Labels: CI, Dependencies

#5505 Merge 3.3.x into 3.4.x
  src/Schema/Comparator.php
Labels: Merge Up

#5506 Merge 3.4.x into 4.0.x
  composer.json
  src/Platforms/SqlitePlatform.php
Labels: Merge Up

#5509 Deprecate AbstractPlatform::hasNative*Type() and Type::requiresSQLCommentHint()
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySQL57Platform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Types/ArrayType.php
  src/Types/BooleanType.php
  src/Types/DateImmutableType.php
  src/Types/DateIntervalType.php
  src/Types/DateTimeImmutableType.php
  src/Types/DateTimeTzImmutableType.php
  src/Types/GuidType.php
  src/Types/JsonType.php
  src/Types/ObjectType.php
  src/Types/SimpleArrayType.php
  src/Types/TimeImmutableType.php
  src/Types/Type.php
  src/Types/VarDateTimeImmutableType.php
Labels: Platforms, Types, Deprecation

#5510 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Types/BooleanType.php
  src/Types/DateImmutableType.php
  src/Types/DateIntervalType.php
  src/Types/DateTimeImmutableType.php
  src/Types/DateTimeTzImmutableType.php
  src/Types/GuidType.php
  src/Types/JsonType.php
  src/Types/SimpleArrayType.php
  src/Types/TimeImmutableType.php
  src/Types/Type.php
  src/Types/VarDateTimeImmutableType.php
Labels: Merge Up

#5511 Deprecate SqlitePlatform::getTinyIntTypeDeclarationSQL() and ::getMediumIntTypeDeclarationSQL()
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/SqlitePlatform.php
Labels: SQLite, Types, Deprecation

#5512 Remove AbstractPlatform::hasNative*Type() methods and Type::requiresSQLCommentHint()
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Types/BooleanType.php
  src/Types/DateImmutableType.php
  src/Types/DateIntervalType.php
  src/Types/DateTimeImmutableType.php
  src/Types/DateTimeTzImmutableType.php
  src/Types/GuidType.php
  src/Types/JsonType.php
  src/Types/SimpleArrayType.php
  src/Types/TimeImmutableType.php
  src/Types/Type.php
  src/Types/VarDateTimeImmutableType.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/MariaDBPlatformTest.php
  tests/Platforms/MySQLPlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Types/DateImmutableTypeTest.php
  tests/Types/DateIntervalTest.php
  tests/Types/DateTimeImmutableTypeTest.php
  tests/Types/DateTimeTzImmutableTypeTest.php
  tests/Types/GuidTypeTest.php
  tests/Types/JsonTest.php
  tests/Types/TimeImmutableTypeTest.php
  tests/Types/VarDateTimeImmutableTypeTest.php
Labels: Platforms, Types, BC Break

#5513 Deprecate internal and non-portable AbstractPlatform methods
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  tests/TestUtil.php
Labels: Platforms, Schema, Sequences, Databases, Deprecation

#5514 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  tests/TestUtil.php
Labels: Merge Up

#5515 Remove the APIs deprecated in DBAL 3.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  tests/Functional/Schema/Db2SchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Platforms/SqlitePlatformTest.php
Labels: SQLite, Platforms, Types, Schema, BC Break, Sequences

#5521 Rename `SqlitePlatform` to `SQLitePlatform`
  UPGRADE.md
  docs/en/reference/platforms.rst
  phpcs.xml.dist
  psalm.xml.dist
  src/Driver/AbstractSQLiteDriver.php
  src/Platforms/SQLite/Comparator.php
  src/Platforms/SQLitePlatform.php
  src/Portability/OptimizeFlags.php
  src/Schema/SQLiteSchemaManager.php
  tests/Driver/AbstractSQLiteDriverTest.php
  tests/Functional/ConnectionTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/ExceptionTest.php
  tests/Functional/LockMode/NoneTest.php
  tests/Functional/Platform/ColumnTest/SQLite.php
  tests/Functional/Schema/SQLite/ComparatorTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SqliteSchemaManagerTest.php
  tests/Functional/Ticket/DBAL752Test.php
  tests/Platforms/SQLite/ComparatorTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Portability/OptimizeFlagsTest.php
  tests/Schema/ColumnTest.php
  tests/Schema/SQLiteSchemaManagerTest.php
  tests/Schema/TableTest.php
  tests/TestUtil.php
Labels: SQLite, Platforms

#5517 Allow to disable schema emulation on SQLite
  src/Platforms/SqlitePlatform.php
Labels: SQLite, Platforms

#5527 Deprecate internal AbstractPlatform methods or mark them as such
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MariaDBPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: Platforms, Deprecation

#5523 Improve MySQL charset and collation comparison
  src/Platforms/MySQL/CharsetMetadataProvider.php
  src/Platforms/MySQL/CharsetMetadataProvider/CachingCharsetMetadataProvider.php
  src/Platforms/MySQL/CharsetMetadataProvider/ConnectionCharsetMetadataProvider.php
  src/Platforms/MySQL/Comparator.php
  src/Platforms/MySQL/DefaultTableOptions.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Table.php
  tests/Functional/Schema/MySQL/ComparatorTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/MySQL/ComparatorTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
Labels: Bug, MySQL, Schema Comparison

#5529 Deprecate passing assets as names
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Schema/Platforms/MySQLSchemaTest.php
  tests/Schema/Visitor/DropSchemaSqlCollectorTest.php
Labels: Platforms, Schema Management, Deprecation

#5531 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
Labels: Merge Up

#5533 Update PHPStan to 1.8.2
  composer.json
  phpstan.neon.dist
Labels: Dependencies

#5532 Remove the APIs deprecated in DBAL 3.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
Labels: Platforms, BC Break

#5535 Use `assertCount()` when possible
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Test Suite

#5536 Enforce property types in tests
  phpcs.xml.dist
  tests/ConnectionTest.php
Labels: Test Suite, Static Analysis

#5486 Do not drop table indexes before dropping SQLite table
  src/Platforms/SqlitePlatform.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/SqlitePlatformTest.php
Labels: SQLite, Platforms

#5540 Merge 3.3.x into 3.4.x
  .github/workflows/lock-closed-issues.yml
  composer.json
  phpstan.neon.dist
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Merge Up

#5542 Merge 3.4.x into 4.0.x
  .github/workflows/lock-closed-issues.yml
  composer.json
  phpstan.neon.dist
  src/Platforms/SQLitePlatform.php
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/SQLitePlatformTest.php
Labels: Merge Up

#5543 Drop PHP 8.0 support
  .appveyor.yml
  .github/workflows/coding-standards.yml
  .github/workflows/continuous-integration.yml
  composer.json
  src/Types/DecimalType.php
Labels: PHP

#5544 Bump PHPCS language level to PHP 8.1
  phpcs.xml.dist
Labels: Code Style

#5547 Set properties to readonly if possible
  src/Cache/ArrayResult.php
  src/Driver/IBMDB2/Connection.php
  src/Driver/IBMDB2/Result.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/Mysqli/Result.php
  src/Driver/OCI8/Connection.php
  src/Driver/OCI8/Result.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/Connection.php
  src/Driver/SQLSrv/Connection.php
  src/Driver/SQLSrv/Result.php
  src/Driver/SQLSrv/Statement.php
  src/Exception/DriverException.php
  src/Query/From.php
  src/Query/Join.php
Labels: Improvement, PHP

#5550 Deprecate using NULL as prepared statement parameter type
  UPGRADE.md
  src/Connection.php
  src/Query/QueryBuilder.php
  tests/Query/QueryBuilderTest.php
Labels: Prepared Statements, Deprecation

#5549 Mark Connection::ARRAY_PARAM_OFFSET internal
  UPGRADE.md
  src/Connection.php
Labels: Documentation, Prepared Statements

#5551 Deprecate QueryBuilder APIs exposing its internal state
  UPGRADE.md
  psalm.xml.dist
  src/Query/QueryBuilder.php
Labels: QueryBuilder, Deprecation

#5539 Added result caching for QueryBuilder
  docs/en/reference/query-builder.rst
  src/Query/QueryBuilder.php
  tests/Query/QueryBuilderTest.php
Labels: New Feature, Cache, QueryBuilder

#5552 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Connection.php
  src/Query/QueryBuilder.php
  tests/Query/QueryBuilderTest.php
Labels: Merge Up

#5553 Remove deprecated QueryBuilder methods and constants
  UPGRADE.md
  psalm.xml.dist
  src/Query/QueryBuilder.php
  src/Query/QueryType.php
  tests/Query/QueryBuilderTest.php
Labels: QueryBuilder, PHP, BC Break

#5554 Convert enum-like classes to enums
  UPGRADE.md
  src/ColumnCase.php
  src/Connection.php
  src/Exception/InvalidLockMode.php
  src/LockMode.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/DateIntervalUnit.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Platforms/TrimMode.php
  src/Portability/Driver.php
  src/Portability/Middleware.php
  src/TransactionIsolationLevel.php
  tests/Functional/DataAccessTest.php
  tests/Functional/PortabilityTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/SQLServerPlatformTestCase.php
Labels: Platforms, PHP, BC Break, Portability, Transactions

#5555 Fix upgrade note
  UPGRADE.md
Labels: Documentation

#5556 Deprecate passing parameters to Statement::execute*()
  UPGRADE.md
  src/Connection.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/Mysqli/Statement.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/SQLSrv/Connection.php
  src/Driver/PDO/Statement.php
  src/Driver/SQLSrv/Statement.php
  src/Statement.php
  tests/Functional/ExceptionTest.php
Labels: Prepared Statements, Deprecation
