Repository doctrine/dbal, pull requests merged in 2022-06, with the labels that each got.

#5416 Replace schema SQL collectors with SQL builders
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaDiff.php
  src/Schema/Visitor/CreateSchemaSqlCollector.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  tests/Functional/SQL/Builder/CreateAndDropSchemaObjectsSQLBuilderTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SqlitePlatformTest.php
  tests/Schema/SchemaDiffTest.php
  tests/Schema/Visitor/SchemaSqlCollectorTest.php
  tests/TestUtil.php
Labels: Improvement, Schema Management, Deprecation

#5422 Merge 3.4.x into 4.0.x
  UPGRADE.md
  docs/en/reference/types.rst
  psalm-strict.xml
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaDiff.php
  src/Schema/Visitor/CreateSchemaSqlCollector.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  src/Schema/Visitor/SchemaDiffVisitor.php
  tests/Functional/SQL/Builder/CreateAndDropSchemaObjectsSQLBuilderTest.php
  tests/Functional/Schema/PostgreSQL/SchemaTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SqlitePlatformTest.php
  tests/Schema/SchemaDiffTest.php
  tests/Schema/Visitor/SchemaSqlCollectorTest.php
  tests/TestUtil.php
Labels: Merge Up

#5423 Remove the APIs deprecated in DBAL 3.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Visitor/CreateSchemaSqlCollector.php
  src/Schema/Visitor/DropSchemaSqlCollector.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTestCase.php
  tests/Schema/Visitor/CreateSchemaSqlCollectorTest.php
  tests/Schema/Visitor/DropSchemaSqlCollectorTest.php
Labels: Schema Management, BC Break, Quoting, Foreign Keys, Deprecation

#5425 Fix redundant orphaned foreign key
  src/Schema/Comparator.php
  src/Schema/SchemaDiff.php
  tests/Schema/ComparatorTest.php
Labels: Bug, SQLite, Schema Comparison

#5426 PHPStan 1.7.9
  composer.json
Labels: Static Analysis

#5429 Merge 3.4.x into 4.0.x
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/Comparator.php
  src/Schema/SchemaDiff.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Schema/ComparatorTest.php
Labels: Merge Up

#5430 Remove AbstractPlatform::supportsForeignKeyConstraints()
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/SchemaDiff.php
  tests/Functional/ForeignKeyExceptionTest.php
Labels: Platforms, BC Break, Foreign Keys

#5428 Fix NCHAR typo for MSSQL
  src/Platforms/SQLServerPlatform.php
Labels: Bug, SQL Server, Platforms

#5431 Deprecate checking keywords in schema object names
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/Keywords/ReservedKeywordsValidator.php
  src/Tools/Console/Command/ReservedWordsCommand.php
Labels: Tools, Reserved Keywords, Deprecation

#5432 Deprecate removal of namespaced assets from schema
  UPGRADE.md
  psalm.xml.dist
  src/Schema/Visitor/RemoveNamespacedAssets.php
Labels: Schema Management, Namespaces, Deprecation

#5435 Deprecate Visitor API
  UPGRADE.md
  psalm.xml.dist
  src/Schema/Schema.php
  src/Schema/Sequence.php
  src/Schema/Table.php
  src/Schema/Visitor/AbstractVisitor.php
  src/Schema/Visitor/NamespaceVisitor.php
  src/Schema/Visitor/Visitor.php
Labels: Schema, Deprecation

#5436 Merge 3.3.x into 3.4.x
  composer.json
Labels: Merge Up

#5437 Merge 3.4.x into 4.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/Keywords/DB2Keywords.php
  src/Platforms/Keywords/KeywordList.php
  src/Platforms/Keywords/MariaDBKeywords.php
  src/Platforms/Keywords/MySQL80Keywords.php
  src/Platforms/Keywords/MySQLKeywords.php
  src/Platforms/Keywords/OracleKeywords.php
  src/Platforms/Keywords/PostgreSQLKeywords.php
  src/Platforms/Keywords/ReservedKeywordsValidator.php
  src/Platforms/Keywords/SQLServerKeywords.php
  src/Platforms/Keywords/SQLiteKeywords.php
  src/Schema/Schema.php
  src/Schema/Sequence.php
  src/Schema/Table.php
  src/Schema/Visitor/AbstractVisitor.php
  src/Schema/Visitor/NamespaceVisitor.php
  src/Schema/Visitor/RemoveNamespacedAssets.php
  src/Schema/Visitor/Visitor.php
  src/Tools/Console/Command/ReservedWordsCommand.php
Labels: Merge Up

#5440 Remove SqliteSchemaManager::dropAndCreateForeignKey()
  src/Schema/SqliteSchemaManager.php
Labels: SQLite, Schema Management, BC Break

#5441 Remove AbstractSchemaManager::getDatabasePlatform()
  UPGRADE.md
  src/Schema/AbstractSchemaManager.php
Labels: Schema Management, BC Break

#5444 PHP CodeSniffer 3.7, PHPStan 1.7.13
  composer.json
Labels: Code Style, Static Analysis

#5448 Merge release 3.3.7 into 3.4.x
  composer.json
Labels: Merge Up

#5450 Rework table introspection for DB2
  src/Schema/DB2SchemaManager.php
Labels: IBM DB2

#5451 Rework listing table names for DB2
  src/Platforms/DB2Platform.php
  src/Schema/DB2SchemaManager.php
  tests/Schema/DB2SchemaManagerTest.php
Labels: IBM DB2

#5449 Optimize introspection of table comments on PostgreSQL
  phpstan.neon.dist
  src/Schema/PostgreSQLSchemaManager.php
Labels: Improvement, PostgreSQL

#5452 Rework introspection of table names
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SqliteSchemaManager.php
Labels: Schema Introspection

#5453 Remove PostgreSQLSchemaManager::_getPortableSequencesList()
  src/Schema/PostgreSQLSchemaManager.php
Labels: PostgreSQL, Sequences

#5454 Merge 3.4.x into 4.0.x
  UPGRADE.md
  composer.json
  docs/en/reference/cli-tools.rst
  phpstan.neon.dist
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SqliteSchemaManager.php
  src/Tools/Console/ConsoleRunner.php
  tests/Schema/DB2SchemaManagerTest.php
Labels: Merge Up

#5459 Drop support for PHP 7.3
  .github/workflows/continuous-integration.yml
  composer.json
  phpcs.xml.dist
  psalm.xml.dist
  src/Driver/API/PostgreSQL/ExceptionConverter.php
  tests/Functional/Connection/ConnectionLostTest.php
Labels: PHP

#5458 Deprecate Driver::getSchemaManager() in favor of AbstractPlatform::createSchemaManager()
  UPGRADE.md
  psalm.xml.dist
  src/Driver.php
  src/Driver/AbstractDB2Driver.php
  src/Driver/AbstractMySQLDriver.php
  src/Driver/AbstractOracleDriver.php
  src/Driver/AbstractPostgreSQLDriver.php
  src/Driver/AbstractSQLServerDriver.php
  src/Driver/AbstractSQLiteDriver.php
  src/Driver/Middleware/AbstractDriverMiddleware.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SqlitePlatform.php
Labels: Improvement, Schema Management, Deprecation

#5460 Use the null-coalescing assignment operator
  src/Connection.php
  src/Driver/AbstractMySQLDriver.php
  src/Driver/PDO/Exception.php
  src/Driver/PDO/SQLSrv/Statement.php
  src/Driver/SQLSrv/Exception/Error.php
  src/Driver/SQLSrv/Statement.php
  src/DriverManager.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SqlitePlatform.php
  src/Query/QueryBuilder.php
  src/Schema/Schema.php
  src/Schema/Table.php
  src/Types/Type.php
Labels: Code Style

#5457 Implement AbstractSchemaManager::_getPortableTableForeignKeyDefinition() across platforms
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SqliteSchemaManager.php
Labels: Improvement, Schema Introspection

#5463 Merge 3.4.x into 4.0.x
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SqliteSchemaManager.php
Labels: Merge Up

#5464 Make AbstractSchemaManager::_getPortableTableForeignKeyDefinition() abstract
  src/Schema/AbstractSchemaManager.php
Labels: Schema Management

#5442 Run tests on PHP 8.2
  .github/workflows/continuous-integration.yml
Labels: CI, PHP

#5467 Fix order of binding parameters on ibm_db2
  src/Driver/IBMDB2/Statement.php
  tests/Functional/StatementTest.php
Labels: Bug, ibm_db2, Prepared Statements

#5466 Bind only non-NULL BLOB values as BLOB on OCI8
  src/Driver/IBMDB2/Exception/CannotWriteToTemporaryFile.php
  src/Driver/IBMDB2/Statement.php
  src/Driver/OCI8/Statement.php
  tests/Functional/BlobTest.php
Labels: Bug, oci8, Prepared Statements
