Repository doctrine/dbal, pull requests merged in 2024-09, with the labels that each got.

#6514 fix typo in docs
  docs/en/reference/configuration.rst
Labels: Documentation

#6513 PDO: Raise a proper exception if user or password is false
  phpstan.neon.dist
  psalm.xml.dist
  src/Driver/PDO/Exception/InvalidConfiguration.php
  src/Driver/PDO/MySQL/Driver.php
  src/Driver/PDO/OCI/Driver.php
  src/Driver/PDO/PgSQL/Driver.php
  src/Driver/PDO/SQLSrv/Driver.php
  src/Driver/PDO/SQLite/Driver.php
  tests/Driver/PDO/MySQL/DriverTest.php
  tests/Driver/PDO/OCI/DriverTest.php
  tests/Driver/PDO/PgSQL/DriverTest.php
  tests/Driver/PDO/SQLSrv/DriverTest.php
  tests/Driver/PDO/SQLite/DriverTest.php
Labels: Bug, Drivers, Connecting, PDO

#6516 Passive support for partitioned tables on Postgres
  src/Schema/PostgreSQLSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
Labels: New Feature, PostgreSQL, Schema Introspection

#6527 Bump GitHub actions
  .github/dependabot.yml
  .github/workflows/coding-standards.yml
  .github/workflows/release-on-milestone-closed.yml
Labels: CI
