Repository doctrine/dbal, pull requests merged in 2025-09, with the labels that each got.

#7136 Workaround for MySQL 8.4 and unknown users
  src/Driver/API/MySQL/ExceptionConverter.php
Labels: Bug, MySQL, Drivers, Connecting

#7134 Downgrade PHP for the DB2 workflow
  .github/workflows/continuous-integration.yml
Labels: CI, ibm_db2

#7135 Merge 3.10.x into 4.3.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  src/Driver/API/MySQL/ExceptionConverter.php
  src/Driver/PDO/PgSQL/Driver.php
Labels: Merge Up

#7141 Make options check strict again
  src/Driver/PDO/PgSQL/Driver.php
Labels: Bug, pdo_pgsql, Connecting

#7140 Merge 4.4.x into 5.0.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  src/Driver/API/MySQL/ExceptionConverter.php
  src/Driver/PDO/PgSQL/Driver.php
Labels: Merge Up

#7142 Don't test against Symfony Cache 8
  .github/workflows/continuous-integration.yml
Labels: CI, Dependencies

#7125 Deprecate overwriting existing foreign key constraints
  UPGRADE.md
  src/Schema/Table.php
  tests/Schema/TableTest.php
Labels: Schema Definition, Foreign Keys, Deprecation

#7143 Deprecate unnamed foreign key constraints in `$droppedForeignKeys` of `TableDiff`
  UPGRADE.md
  src/Schema/TableDiff.php
  tests/Schema/TableDiffTest.php
Labels: Bug, Schema Management

#7154 Merge 4.4.x up into 5.0.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  src/Schema/Table.php
  src/Schema/TableDiff.php
  tests/Schema/TableDiffTest.php
  tests/Schema/TableTest.php
Labels: Merge Up

#7158 Fix SQLite FK handling in altered tables
  UPGRADE.md
  src/Platforms/SQLitePlatform.php
  src/Schema/Exception/ForeignKeyAlreadyExists.php
  src/Schema/Table.php
  tests/Schema/TableTest.php
Labels: Bug, SQLite, BC Break, Schema Definition, Foreign Keys

#7161 Avoid coverage upload for merge up pull requests
  .github/workflows/continuous-integration.yml
Labels: CI

#7160 Remove deprecated schema introspection API
  UPGRADE.md
  phpstan.neon.dist
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/Introspection/MetadataProcessor/PrimaryKeyConstraintColumnMetadataProcessor.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Driver/DBAL6024Test.php
  tests/Functional/SQL/Builder/CreateAndDropSchemaObjectsSQLBuilderTest.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/ComparatorTestUtils.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/PrimaryKeyConstraintTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Schema/SQLiteSchemaManagerTest.php
Labels: BC Break, Schema Introspection

#7157 Deprecate TableDiff::getDroppedForeignKeys()
  UPGRADE.md
  src/Schema/Exception/InvalidState.php
  src/Schema/TableDiff.php
  tests/Schema/AbstractComparatorTestCase.php
  tests/Schema/TableDiffTest.php
Labels: Schema Management, Schema Comparison, Foreign Keys, Deprecation

#7163 Merge 4.4.x up into 5.0.x
  UPGRADE.md
  src/Schema/Exception/InvalidState.php
  src/Schema/TableDiff.php
  tests/Schema/AbstractComparatorTestCase.php
  tests/Schema/TableDiffTest.php
Labels: Merge Up

#7167 Declare AbstractPlatform::getRenameIndexSQL() as abstract
  src/Platforms/AbstractPlatform.php
  src/Platforms/SQLitePlatform.php
Labels: Platforms, BC Break

#7168 Remove Schema\Identifier
  src/DriverManager.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/MariaDBPlatform.php
  src/Platforms/MySQLPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Comparator.php
  src/Schema/Identifier.php
  src/Schema/OracleSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaDiff.php
  src/Schema/TableDiff.php
  tests/DriverManagerTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/MariaDBPlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/AbstractAssetTest.php
  tests/Schema/IdentifierTest.php
Labels: Improvement, Schema Management, BC Break
