Repository doctrine/dbal, pull requests merged in 2025-01, with the labels that each got.

#6621 Add CTE support to select in QueryBuilder
  docs/en/reference/query-builder.rst
  src/Platforms/AbstractPlatform.php
  src/Platforms/MySQL80Platform.php
  src/Platforms/MySQLPlatform.php
  src/Query/CommonTableExpression.php
  src/Query/QueryBuilder.php
  src/SQL/Builder/WithSQLBuilder.php
  tests/Functional/Query/QueryBuilderTest.php
  tests/Query/QueryBuilderTest.php
Labels: New Feature, QueryBuilder

#6684 Merge 4.3.x up into 5.0.x
  docs/en/reference/query-builder.rst
  src/Platforms/AbstractPlatform.php
  src/Query/CommonTableExpression.php
  src/Query/QueryBuilder.php
  src/SQL/Builder/WithSQLBuilder.php
  tests/Functional/Query/QueryBuilderTest.php
  tests/Query/QueryBuilderTest.php
Labels: Merge Up

#6685 Deprecate UniqueConstraint features and introduce UniqueConstraintEditor
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Exception/InvalidUniqueConstraintDefinition.php
  src/Schema/Table.php
  src/Schema/UniqueConstraint.php
  src/Schema/UniqueConstraintEditor.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Improvement, Schema Management, Deprecation

#6687 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Exception/InvalidUniqueConstraintDefinition.php
  src/Schema/Table.php
  src/Schema/UniqueConstraint.php
  src/Schema/UniqueConstraintEditor.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Merge Up

#6688 Remove documentation of legacy types
  docs/en/reference/types.rst
Labels: Documentation

#6689 Remove deprecated UniqueConstraint features
  UPGRADE.md
  psalm.xml.dist
  src/Platforms/AbstractPlatform.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Table.php
  src/Schema/UniqueConstraint.php
  src/Schema/UniqueConstraintEditor.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/TableTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Schema Management, BC Break

#6691 PHPUnit 9.6.22
  composer.json
Labels: Test Suite

#6692 PHPUnit 10.5.39
  composer.json
Labels: Test Suite

#6690 PHPStan 2.1.1
  .github/workflows/static-analysis.yml
  composer.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Driver/API/OCI/ExceptionConverter.php
  src/Event/SchemaDropTableEventArgs.php
  src/Platforms/AbstractPlatform.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/Schema/Comparator.php
Labels: Static Analysis

#6694 Merge 3.9.x into 3.10.x
  .github/workflows/coding-standards.yml
  .github/workflows/documentation.yml
  .github/workflows/static-analysis.yml
  composer.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Driver/API/OCI/ExceptionConverter.php
  src/Event/SchemaDropTableEventArgs.php
  src/Platforms/AbstractPlatform.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/Schema/Comparator.php
Labels: Merge Up

#6686 Add a `NumberType` that maps to the `BcMath\Number` value object
  .github/workflows/static-analysis.yml
  docs/en/reference/schema-representation.rst
  docs/en/reference/types.rst
  src/Types/NumberType.php
  src/Types/Type.php
  src/Types/Types.php
  tests/Functional/Platform/AlterDecimalColumnTest.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/NumberTest.php
  tests/Types/NumberTest.php
Labels: New Feature, Types, PHP, Type Mapping, Type Conversion

#6697 Cleanup obsolete PHPStan ignore rules
  phpstan.neon.dist
Labels: Static Analysis

#6693 Enable platformOptions to be considered for ColumnDiff (PostgreSQL jsonb support)
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/ColumnDiff.php
  tests/Functional/Schema/PostgreSQL/ComparatorTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
Labels: Bug, PostgreSQL, Schema Comparison

#6701 Deprecate introspection of incomplete SQLite schema
  UPGRADE.md
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
Labels: SQLite, Schema Introspection, Foreign Keys, Deprecation

#6707 Deprecate conversion of RESTRICT to NO ACTION
  UPGRADE.md
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLServerPlatform.php
Labels: Schema Management, Foreign Keys, Deprecation

#6708 Pin the version of PCOV for Windows
  .appveyor.yml
Labels: CI

#6709 Merge 3.9.x up into 3.10.x
  .appveyor.yml
Labels: Merge Up

#6712 Merge 4.2.x up into 4.3.x
  .appveyor.yml
Labels: Merge Up

#6718 Fix deferrable/deferred constraint DDL on PostgreSQL
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/PostgreSQLSchemaManager.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
Labels: Bug, PostgreSQL, Schema Management, Schema Introspection

#6720 Merge 4.3.x up into 5.0.x
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/Name/AbstractName.php
  src/Schema/Name/Identifier.php
  src/Schema/PostgreSQLSchemaManager.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
Labels: Merge Up

#6681 bugfix: deallocate mysqli prepared statement
  src/Driver/Mysqli/Result.php
  src/Driver/Mysqli/Statement.php
  tests/Functional/Driver/Mysqli/StatementTest.php
Labels: Bug, mysqli, Prepared Statements

#6725 Merge 3.9.x into 4.2.x
  src/Driver/Mysqli/Result.php
  src/Driver/Mysqli/Statement.php
  tests/Functional/Driver/Mysqli/StatementTest.php
Labels: Merge Up

#6726 Do not introspect incomplete SQLite foreign key constraint
  UPGRADE.md
  src/Schema/Exception/UnsupportedSchema.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
Labels: SQLite, BC Break, Schema Introspection, Foreign Keys

#6727 Rework foreign key constraint introspection on PostgreSQL
  src/Schema/PostgreSQLSchemaManager.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
Labels: Improvement, PostgreSQL, Schema Introspection

#6728 Deprecate ForeignKeyConstraint features and introduce ForeignKeyConstraintEditor
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/Exception/InvalidForeignKeyConstraintDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/ForeignKeyConstraint/Deferrability.php
  src/Schema/ForeignKeyConstraint/MatchType.php
  src/Schema/ForeignKeyConstraint/ReferentialAction.php
  src/Schema/ForeignKeyConstraintEditor.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/OracleSchemaManager.php
  src/Schema/Table.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Schema/ForeignKeyConstraintEditorTest.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/Name/OptionallyQualifiedNameTest.php
  tests/Schema/Name/UnqualifiedNameTest.php
  tests/Schema/TableTest.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Improvement, Schema Management, Foreign Keys, Deprecation

#6730 Introspect foreign key constraint deferrability on Oracle
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/OracleSchemaManager.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
Labels: Improvement, Oracle, Schema Introspection, Foreign Keys

#6731 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/Exception/InvalidForeignKeyConstraintDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/ForeignKeyConstraint/Deferrability.php
  src/Schema/ForeignKeyConstraint/MatchType.php
  src/Schema/ForeignKeyConstraint/ReferentialAction.php
  src/Schema/ForeignKeyConstraintEditor.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/OracleSchemaManager.php
  src/Schema/Table.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/FunctionalTestCase.php
  tests/Schema/ForeignKeyConstraintEditorTest.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/Name/OptionallyQualifiedNameTest.php
  tests/Schema/Name/UnqualifiedNameTest.php
  tests/Schema/TableTest.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Merge Up

#6732 Remove deprecated ForeignKeyConstraint features
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/MariaDBPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Comparator.php
  src/Schema/DB2SchemaManager.php
  src/Schema/Exception/InvalidForeignKeyConstraintDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Exception/UnsupportedSchema.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/ForeignKeyConstraintEditor.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/Table.php
  tests/Functional/ForeignKeyConstraintViolationsTest.php
  tests/Functional/SQL/Builder/CreateAndDropSchemaObjectsSQLBuilderTest.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/MariaDBPlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/AbstractComparatorTestCase.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/TableTest.php
Labels: Schema Management, BC Break, Foreign Keys

#6734 Deprecate usage of Schema as AbstractAsset
  UPGRADE.md
  src/Schema/Schema.php
  tests/Schema/SchemaTest.php
Labels: Schema, Deprecation

#6735 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  src/Schema/Schema.php
  tests/Schema/SchemaTest.php
Labels: Merge Up

#6736 Make Schema not extend AbstractAsset
  UPGRADE.md
  src/Schema/Schema.php
Labels: Schema, BC Break

#6738 Add missing sentence and placeholder.
  src/Connection.php
  src/Platforms/AbstractPlatform.php
Labels: Bug

#6739 Implement empty Schema::setName()
  src/Schema/Schema.php
Labels: Regression, Schema

#6740 Make doctrine/cache optional
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  composer.json
  src/Cache/QueryCacheProfile.php
  src/Configuration.php
  tests/Connection/CachedQueryTest.php
Labels: Improvement, Cache, Dependencies

#6745 Remove SQLite "schema emulation" leftovers
  src/Schema/SQLiteSchemaManager.php
Labels: Improvement, SQLite, Schema Introspection

#6744 Refactor AbstractSchemaManager::fetch*/select*() API
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
Labels: Schema Introspection

#6749 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Schema/Db2SchemaManagerTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLServerSchemaManagerTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Merge Up

#6750 Remove unused AbstractSchemaManager method parameters
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
Labels: BC Break, Schema Introspection

#6751 Remove deprecated PostgreSQLSchemaManager methods
  UPGRADE.md
  src/Schema/PostgreSQLSchemaManager.php
Labels: PostgreSQL, BC Break, Schema Introspection
