Repository doctrine/dbal, pull requests merged in 2025-10, with the labels that each got.

#7173 do not call setAccessible() on PHP >= 8.1
  src/Driver/Mysqli/Exception/ConnectionError.php
  src/Driver/Mysqli/Exception/ConnectionFailed.php
  src/Driver/Mysqli/Exception/InvalidCharset.php
  src/Driver/Mysqli/Exception/StatementError.php
  tests/Driver/AbstractDriverTestCase.php
  tests/Functional/Driver/Mysqli/StatementTest.php
  tests/Functional/Driver/PgSQL/StatementTest.php
  tests/Functional/Ticket/DBAL461Test.php
  tests/Schema/SchemaTest.php
  tests/Schema/SqliteSchemaManagerTest.php
Labels: Improvement

#7178 Remove driver unit test boilerplate
  tests/Driver/AbstractDB2DriverTestCase.php
  tests/Driver/AbstractDriverTestCase.php
  tests/Driver/AbstractMySQLDriverTestCase.php
  tests/Driver/AbstractOracleDriverTestCase.php
  tests/Driver/AbstractPostgreSQLDriverTestCase.php
  tests/Driver/AbstractSQLServerDriverTestCase.php
  tests/Driver/AbstractSQLiteDriverTestCase.php
  tests/Driver/IBMDB2/DriverTest.php
  tests/Driver/Mysqli/DriverTest.php
  tests/Driver/PDO/MySQL/DriverTest.php
  tests/Driver/PDO/PgSQL/DriverTest.php
  tests/Driver/PgSQL/DriverTest.php
Labels: Test Suite, Drivers

#7177 Consistently reference IBM Db2 as Db2
  .github/workflows/continuous-integration.yml
  .github/workflows/phpunit-db2.yml
  UPGRADE.md
  docs/en/reference/configuration.rst
  docs/en/reference/introduction.rst
  docs/en/reference/known-vendor-issues.rst
  docs/en/reference/platforms.rst
  src/Driver/AbstractDB2Driver.php
  src/Driver/IBMDB2/DataSourceName.php
  src/Platforms/DB2111Platform.php
  src/Platforms/DB2Platform.php
  src/Platforms/Keywords/DB2Keywords.php
  src/Schema/DB2SchemaManager.php
  tests/Functional/Driver/IBMDB2/DriverTest.php
  tests/Functional/ModifyLimitQueryTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: IBM Db2, Documentation
