Repository doctrine/dbal, pull requests merged in 2025-03, with the labels that each got.

#6812 Convert driver exceptions when starting transactions
  src/Connection.php
  src/Driver/API/PostgreSQL/ExceptionConverter.php
  src/Driver/Mysqli/Connection.php
  tests/Functional/TransactionTest.php
Labels: Bug, Error Handling, Transactions

#6815 Remove AbstractName and mark GenericName as internal
  src/Schema/Name/AbstractName.php
  src/Schema/Name/GenericName.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
Labels: Identifiers

#6816 Do not over increment identitiy sequence on Oracle
  src/Platforms/OraclePlatform.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Platforms/OraclePlatformTest.php
Labels: Bug, Oracle

#6817 Do not create PK constraint for auto-increment columns on Oracle
  UPGRADE.md
  src/Platforms/OraclePlatform.php
  tests/Platforms/OraclePlatformTest.php
Labels: Oracle, BC Break, Primary Keys

#6819 Fix SchemaManagerFunctionalTestCase::testSwitchPrimaryKeyOrder()
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, Test Suite, Primary Keys

#6820 Convert some unit tests to integration tests
  tests/Functional/Schema/AlterTableTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
Labels: Test Suite, Primary Keys

#6821 Remove outdated MySQL platform test assertions
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/MariaDBPlatformTest.php
  tests/Platforms/MySQLPlatformTest.php
Labels: Test Suite, MySQL, Platforms

#6826 Merge 4.2.x up into 4.3.x
  src/Connection.php
  src/Driver/API/PostgreSQL/ExceptionConverter.php
  src/Driver/Mysqli/Connection.php
  src/Platforms/OraclePlatform.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/TransactionTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up

#6823 Extract UnquotedIdentifierFolding from AbstractPlatform
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractAsset.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/UnquotedIdentifierFolding.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/AbstractPlatformExtensionTest.php
Labels: Identifiers

#6828 Merge 4.3.x up into 5.0.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  src/Connection.php
  src/Driver/API/PostgreSQL/ExceptionConverter.php
  src/Driver/Mysqli/Connection.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Name/AbstractName.php
  src/Schema/Name/GenericName.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/Name/UnquotedIdentifierFolding.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/TransactionTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformExtensionTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/OraclePlatformTest.php
Labels: Merge Up

#6829 Require $unquotedIdentifierFolding in AbstractPlatform constructor
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  tests/Platforms/AbstractPlatformExtensionTest.php
Labels: Platforms, BC Break

#6827 Deprecate modified foreign keys in TableDiff
  UPGRADE.md
  src/Schema/Comparator.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/TableDiff.php
  tests/Schema/AbstractComparatorTestCase.php
Labels: Schema Comparison, Foreign Keys, Deprecation

#6831 Deprecate modified indexes in TableDiff
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/Comparator.php
  src/Schema/TableDiff.php
Labels: PostgreSQL, Schema Comparison, Indexes, Deprecation

#6833 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  phpstan.neon.dist
  src/Connection.php
  src/Connections/PrimaryReadReplicaConnection.php
  src/Driver.php
  src/Driver/PDO/Result.php
  src/Driver/PgSQL/Connection.php
  src/Exception/ParseError.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Portability/Driver.php
  src/Query/CommonTableExpression.php
  src/Query/Expression/ExpressionBuilder.php
  src/Query/QueryBuilder.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Comparator.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/Table.php
  src/Schema/TableDiff.php
  src/Types/Type.php
  src/Types/TypeRegistry.php
  tests/Schema/AbstractComparatorTestCase.php
Labels: Merge Up

#6834 Remove modified foreign keys and indexes from TableDiff
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/TableDiff.php
Labels: BC Break, Schema Comparison, Foreign Keys, Indexes

#6836 Do not lose auto-increment when altering primary key
  src/Platforms/AbstractMySQLPlatform.php
  tests/Functional/Schema/AlterTableTest.php
Labels: Bug, MySQL, Schema Management, Primary Keys, Auto-increment

#6822 Clean up SQLitePlatform column mapping code
  src/Platforms/SQLitePlatform.php
Labels: SQLite, Schema Management

#6841 Deprecate auto-increment being dropped with the PK on MySQL
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
Labels: MySQL, Schema Management, Primary Keys, Deprecation, Auto-increment

#6842 Merge 4.3.x into 5.0.x
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/SQLitePlatform.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
Labels: Merge Up

#6843 Remove support for auto-dropping auto-increment with PK
  src/Platforms/AbstractMySQLPlatform.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
Labels: MySQL, Schema Management, BC Break, Primary Keys, Auto-increment

#6850 Remove duplicate schema manager tests
  tests/Functional/Schema/MySQLSchemaManagerTest.php
Labels: Test Suite, MySQL, Primary Keys

#6849 Deprecate invalid auto-increment column definitions on SQLite
  UPGRADE.md
  src/Platforms/SQLitePlatform.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Platforms/SQLitePlatformTest.php
Labels: SQLite, Schema Definition, Primary Keys, Deprecation, Auto-increment

#6848 Rework auto-increment introspection tests
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
Labels: Test Suite, Schema Introspection, Auto-increment

#6851 Merge 4.2.x up into 4.3.x
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
Labels: Merge Up

#6852 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  src/Platforms/SQLitePlatform.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/Platforms/SQLitePlatformTest.php
Labels: Merge Up

#6853 Remove support for invalid auto-increment column definitions on SQLite
  UPGRADE.md
  src/Platforms/Exception/UnsupportedTableDefinition.php
  src/Platforms/SQLitePlatform.php
  tests/Platforms/SQLitePlatformTest.php
Labels: SQLite, BC Break, Schema Definition, Primary Keys, Auto-increment

#6855 Move PHPUnit's "display warnings" from CLI to configuration
  .github/workflows/continuous-integration.yml
  ci/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  ci/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
  ci/github/phpunit/ibm_db2.xml
  ci/github/phpunit/mysqli-tls.xml
  ci/github/phpunit/mysqli.xml
  ci/github/phpunit/oci8-21.xml
  ci/github/phpunit/oci8.xml
  ci/github/phpunit/pdo_mysql.xml
  ci/github/phpunit/pdo_oci-21.xml
  ci/github/phpunit/pdo_oci.xml
  ci/github/phpunit/pdo_pgsql.xml
  ci/github/phpunit/pdo_sqlite.xml
  ci/github/phpunit/pdo_sqlsrv.xml
  ci/github/phpunit/pgsql.xml
  ci/github/phpunit/sqlite3.xml
  ci/github/phpunit/sqlsrv.xml
  phpunit.xml.dist
Labels: Test Suite

#6856 Merge 4.2.x up into 4.3.x
  .github/workflows/continuous-integration.yml
  ci/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  ci/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
  ci/github/phpunit/ibm_db2.xml
  ci/github/phpunit/mysqli-tls.xml
  ci/github/phpunit/mysqli.xml
  ci/github/phpunit/oci8-21.xml
  ci/github/phpunit/oci8.xml
  ci/github/phpunit/pdo_mysql.xml
  ci/github/phpunit/pdo_oci-21.xml
  ci/github/phpunit/pdo_oci.xml
  ci/github/phpunit/pdo_pgsql.xml
  ci/github/phpunit/pdo_sqlite.xml
  ci/github/phpunit/pdo_sqlsrv.xml
  ci/github/phpunit/pgsql.xml
  ci/github/phpunit/sqlite3.xml
  ci/github/phpunit/sqlsrv.xml
  phpunit.xml.dist
Labels: Merge Up

#6859 Revert IBM Db2 health check improvement
  .github/workflows/continuous-integration.yml
Labels: Test Suite, IBM Db2

#6858 Use boolean values in while loops
  src/Driver/SQLSrv/Result.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Driver/OCI8/ResultTest.php
  tests/Functional/PortabilityTest.php
Labels: Static Analysis

#6860 Merge 4.2.x up into 4.3.x
  .github/workflows/continuous-integration.yml
  src/Driver/SQLSrv/Result.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Driver/OCI8/ResultTest.php
  tests/Functional/PortabilityTest.php
Labels: Merge Up

#6857 Merge 4.3.x up into 5.0.x
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  ci/appveyor/mssql.sql2017.pdo_sqlsrv.appveyor.xml
  ci/appveyor/mssql.sql2017.sqlsrv.appveyor.xml
  ci/github/phpunit/ibm_db2.xml
  ci/github/phpunit/mysqli-tls.xml
  ci/github/phpunit/mysqli.xml
  ci/github/phpunit/oci8-21.xml
  ci/github/phpunit/oci8.xml
  ci/github/phpunit/pdo_mysql.xml
  ci/github/phpunit/pdo_oci-21.xml
  ci/github/phpunit/pdo_oci.xml
  ci/github/phpunit/pdo_pgsql.xml
  ci/github/phpunit/pdo_sqlite.xml
  ci/github/phpunit/pdo_sqlsrv.xml
  ci/github/phpunit/pgsql.xml
  ci/github/phpunit/sqlite3.xml
  ci/github/phpunit/sqlsrv.xml
  phpunit.xml.dist
  src/Driver/SQLSrv/Result.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/MariaDB1010Platform.php
  src/Platforms/MariaDBPlatform.php
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  tests/Functional/Driver/OCI8/ResultTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Ticket/DBAL461Test.php
Labels: Merge Up

#6861 Clean up schema introspection queries and parsing code
  src/Schema/DB2SchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Ticket/DBAL461Test.php
Labels: Schema Introspection

#6863 Do not drop PK constraint when dropping auto-increment on Oracle
  src/Platforms/OraclePlatform.php
  tests/Platforms/OraclePlatformTest.php
Labels: Oracle, Primary Keys, Auto-increment

#6864 Use consistent formatting in PRIMARY KEY DDL
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLitePlatform.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/OraclePlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/SQLiteSchemaManagerTest.php
Labels: Primary Keys, Code Style

#6865 Remove duplicate schema management tests
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL510Test.php
Labels: Test Suite, MySQL, PostgreSQL, Schema Management, Primary Keys, Auto-increment

#6868 Merge 4.2.x up into 4.3.x
  tests/Functional/Platform/NewPrimaryKeyWithNewAutoIncrementColumnTest.php
  tests/Functional/Ticket/DBAL168Test.php
  tests/Functional/Ticket/DBAL510Test.php
Labels: Merge Up

#6867 Introduce PrimaryKeyConstraint
  UPGRADE.md
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/Exception/InvalidPrimaryKeyConstraintDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Index.php
  src/Schema/PrimaryKeyConstraint.php
  src/Schema/PrimaryKeyConstraintEditor.php
  src/Schema/Table.php
  src/Schema/TableEditor.php
  src/Schema/UniqueConstraint.php
  tests/FunctionalTestCase.php
  tests/Schema/PrimaryKeyConstraintEditorTest.php
  tests/Schema/PrimaryKeyConstraintTest.php
  tests/Schema/TableTest.php
Labels: Improvement, Schema Management, Schema Definition, Indexes, Primary Keys, Deprecation

#6866 Introduce equals() for names and foreign key constraints
  src/Schema/Comparator.php
  src/Schema/Exception/IncomparableNames.php
  src/Schema/ForeignKeyConstraint.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/Name/IdentifierTest.php
  tests/Schema/Name/OptionallyQualifiedNameTest.php
  tests/Schema/Name/UnqualifiedNameTest.php
Labels: Improvement, Schema Comparison, Foreign Keys, Identifiers

#6871 Fix merging driver options in the pdo_sqlsrv driver test
  tests/Functional/Driver/PDO/SQLSrv/DriverTest.php
Labels: Test Suite, pdo_sqlsrv, Configuration

#6872 Fix testChangeIndexWithForeignKeys() configuration
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Test Suite, MySQL, IBM Db2, Schema Management, Foreign Keys, Indexes

#6875 Fix build
  src/Driver/SQLSrv/Result.php
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Driver/OCI8/ResultTest.php
  tests/Functional/PortabilityTest.php
  tests/FunctionalTestCase.php
Labels: Static Analysis

#6876 Merge 4.3.x up into 5.0.x
  src/Platforms/DB2Platform.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Merge Up

#6874 Upgrade to doctrine/coding-standard 13
  composer.json
Labels: Code Style

#6878 Move MySQL-related code out of abstract platform
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/OraclePlatform.php
Labels: MySQL, Platforms, BC Break, Indexes

#6882 Clean up Table::renameIndex() code
  src/Schema/Table.php
  tests/Schema/TableTest.php
Labels: Bug, Schema Management, Indexes, Tables
