Repository doctrine/dbal, pull requests merged in 2025-04, with the labels that each got.

#6884 Call non-static assertion methods non-statically
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Test Suite, Code Style

#6886 Deprecate Index features and introduce IndexEditor
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Schema/Exception/InvalidIndexDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Index.php
  src/Schema/Index/IndexType.php
  src/Schema/Index/IndexedColumn.php
  src/Schema/IndexEditor.php
  tests/Schema/Index/IndexedColumnTest.php
  tests/Schema/IndexEditorTest.php
  tests/Schema/IndexTest.php
Labels: Improvement, Schema Management, Indexes, Deprecation

#6893 Test introspection of table options with quoted identifiers
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Test Suite, Schema Introspection, Tables, Identifiers

#6889 Require PHP 8.3
  .appveyor.yml
  .github/workflows/continuous-integration.yml
  composer.json
  phpcs.xml.dist
  src/Configuration.php
  src/Driver/PgSQL/Exception/UnexpectedValue.php
Labels: PHP

#6887 Rework index column introspection on Postgres
  src/Schema/PostgreSQLSchemaManager.php
Labels: PostgreSQL, Schema Introspection, Indexes

#6892 Do not trim single quote in comments on SQLite
  src/Platforms/SQLitePlatform.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Bug, SQLite, Schema Management, Tables, Columns

#6894 PHPUnit 11
  composer.json
  tests/ConnectionTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/Functional/StatementTest.php
  tests/Platforms/AbstractPlatformExtensionTest.php
  tests/Portability/ResultTest.php
Labels: Test Suite, Dependencies

#6890 Introduce ComparatorConfig::withReportModifiedIndexes()
  UPGRADE.md
  src/Schema/Comparator.php
  src/Schema/ComparatorConfig.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Schema/AbstractComparatorTestCase.php
Labels: Schema Comparison, Indexes, BC Fix, Deprecation

#6895 Merge 4.2.x up into 4.3.x
  src/Platforms/SQLitePlatform.php
  tests/Functional/Driver/PDO/SQLSrv/DriverTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
Labels: Merge Up

#6896 Merge 4.3.x into 5.0.x
  .appveyor.yml
  .github/workflows/continuous-integration.yml
  UPGRADE.md
  composer.json
  phpcs.xml.dist
  src/Configuration.php
  src/Driver/PgSQL/Exception/UnexpectedValue.php
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/ComparatorConfig.php
  src/Schema/Exception/InvalidIndexDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Index.php
  src/Schema/Index/IndexType.php
  src/Schema/Index/IndexedColumn.php
  src/Schema/IndexEditor.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/Table.php
  tests/ConnectionTest.php
  tests/Functional/Driver/PDO/SQLSrv/DriverTest.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/Functional/StatementTest.php
  tests/Portability/ResultTest.php
  tests/Schema/Index/IndexedColumnTest.php
  tests/Schema/IndexEditorTest.php
  tests/Schema/IndexTest.php
  tests/Schema/TableTest.php
Labels: Merge Up

#6899 Mark ComparatorConfig::getReportModifiedIndexes() as internal
  src/Schema/ComparatorConfig.php
Labels: Documentation, Schema Comparison, Indexes

#6898 Remove configuration for reporting modified indexes
  UPGRADE.md
  src/Schema/ComparatorConfig.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Schema/ComparatorConfigTest.php
Labels: BC Break, Schema Comparison, Indexes, Deprecation

#6900 Remove support for deprecated Index features
  UPGRADE.md
  src/Platforms/AbstractMySQLPlatform.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/DB2Platform.php
  src/Platforms/Exception/UnsupportedIndexDefinition.php
  src/Platforms/OraclePlatform.php
  src/Platforms/PostgreSQLPlatform.php
  src/Platforms/SQLServerPlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Comparator.php
  src/Schema/DB2SchemaManager.php
  src/Schema/Exception/InvalidIndexDefinition.php
  src/Schema/Exception/InvalidState.php
  src/Schema/Index.php
  src/Schema/Index/IndexedColumn.php
  src/Schema/IndexEditor.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLServerSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/Table.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/FunctionalTestCase.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/AbstractComparatorTestCase.php
  tests/Schema/IndexEditorTest.php
  tests/Schema/IndexTest.php
  tests/Schema/TableTest.php
Labels: Schema Management, BC Break, Schema Comparison, Indexes

#6901 Reintroduce PHP 8.2 support
  .github/workflows/continuous-integration.yml
  composer.json
Labels: Improvement, PHP

#6790 Only trim the leading slash from the DSN if a host is also available
  src/Tools/DsnParser.php
  tests/Tools/DsnParserTest.php
Labels: Bug, DSN Parser

#6902 Merge 4.3.x into 5.0.x
  .github/workflows/continuous-integration.yml
  composer.json
Labels: Merge Up

#6698 OCI8: Remove PHP 7 compat code
  phpstan.neon.dist
  src/Driver/OCI8/Result.php
Labels: Improvement, oci8, PHP

#6904 Rework index introspection on SQLite
  src/Schema/SQLiteSchemaManager.php
Labels: SQLite, Schema Introspection, Indexes

#6905 Merge 4.2.x up into 4.3.x
  src/Tools/DsnParser.php
  tests/Tools/DsnParserTest.php
Labels: Merge Up

#6906 Merge 4.3.x up into 5.0.x
  phpstan.neon.dist
  src/Driver/OCI8/Result.php
  src/Schema/SQLiteSchemaManager.php
  src/Tools/DsnParser.php
  tests/Tools/DsnParserTest.php
Labels: Merge Up

#6907 Rework foreign key constraint introspection on SQLite
  src/Schema/SQLiteSchemaManager.php
  tests/Schema/SQLiteSchemaManagerTest.php
Labels: SQLite, Schema Introspection, Foreign Keys

#6908 fix replacing method name in deprecation message
  src/Schema/Table.php
Labels: Schema Management, Documentation, Foreign Keys

#6915 Use Ubuntu 22.04 for builds with lowest dependencies
  .github/workflows/continuous-integration.yml
Labels: CI, Dependencies

#6919 Merge 3.9.x up into 4.2.x
  .github/workflows/coding-standards.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/documentation.yml
  .github/workflows/static-analysis.yml
  composer.json
  phpcs.xml.dist
  tests/FunctionalTestCase.php
  tests/Platforms/PostgreSQLPlatformTest.php
Labels: Merge Up

#6921 Merge 4.2.x up into 4.3.x
  .github/workflows/coding-standards.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/documentation.yml
  .github/workflows/static-analysis.yml
  composer.json
  phpcs.xml.dist
  tests/FunctionalTestCase.php
  tests/Platforms/PostgreSQLPlatformTest.php
Labels: Merge Up

#6914 Mark identifiers as non-empty strings
  src/Connection.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractAsset.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/Name/UnquotedIdentifierFolding.php
  src/Schema/OracleSchemaManager.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/SchemaConfig.php
  src/Schema/Table.php
  src/Schema/TableConfiguration.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/Schema/Name/IdentifierTest.php
Labels: Schema, Schema Introspection, Static Analysis

#6922 Merge 4.3.x up into 5.0.x
  .github/workflows/coding-standards.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/documentation.yml
  .github/workflows/static-analysis.yml
  composer.json
  phpcs.xml.dist
  src/Connection.php
  src/Platforms/AbstractPlatform.php
  src/Platforms/OraclePlatform.php
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractAsset.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/MySQLSchemaManager.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/Name/UnquotedIdentifierFolding.php
  src/Schema/PostgreSQLSchemaManager.php
  src/Schema/SQLiteSchemaManager.php
  src/Schema/Schema.php
  src/Schema/SchemaConfig.php
  src/Schema/Table.php
  src/Schema/TableConfiguration.php
  tests/Functional/Platform/RenameColumnTest.php
  tests/FunctionalTestCase.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Schema/Name/IdentifierTest.php
  tests/Schema/SQLiteSchemaManagerTest.php
Labels: Merge Up

#6924 Merge 4.3.x up into 5.0.x
  UPGRADE.md
  src/Cache/QueryCacheProfile.php
  src/Connection/StaticServerVersionProvider.php
  src/Platforms/MySQL/DefaultTableOptions.php
  src/Query/CommonTableExpression.php
  src/Query/ForUpdate.php
  src/Query/From.php
  src/Query/Join.php
  src/Query/Limit.php
  src/Query/Union.php
  src/Schema/ColumnDiff.php
  src/Schema/Index/IndexedColumn.php
  src/Schema/Name/GenericName.php
  src/Schema/Name/Identifier.php
  src/Schema/Name/OptionallyQualifiedName.php
  src/Schema/Name/Parser/OptionallyQualifiedNameParser.php
  src/Schema/Name/Parser/UnqualifiedNameParser.php
  src/Schema/Name/UnqualifiedName.php
  src/Schema/PrimaryKeyConstraint.php
  src/Schema/SchemaDiff.php
  src/Schema/TableConfiguration.php
  src/Schema/TableDiff.php
  tests/Functional/Schema/Types/Money.php
Labels: Merge Up

#6925 Mark classes as read-only and final
  UPGRADE.md
  src/Cache/QueryCacheProfile.php
  src/Connection/StaticServerVersionProvider.php
  src/Driver/AbstractOracleDriver/EasyConnectString.php
  src/Driver/IBMDB2/Connection.php
  src/Driver/IBMDB2/DataSourceName.php
  src/Driver/IBMDB2/Result.php
  src/Driver/Mysqli/Initializer/Charset.php
  src/Driver/Mysqli/Initializer/Options.php
  src/Driver/Mysqli/Initializer/Secure.php
  src/Driver/OCI8/Connection.php
  src/Driver/OCI8/Result.php
  src/Driver/OCI8/Statement.php
  src/Driver/PDO/Connection.php
  src/Driver/PDO/Result.php
  src/Driver/PDO/Statement.php
  src/Driver/PgSQL/Connection.php
  src/Driver/SQLSrv/Connection.php
  src/Driver/SQLSrv/Result.php
  src/Driver/SQLite3/Connection.php
  src/Logging/Middleware.php
  src/Platforms/MySQL/CharsetMetadataProvider/ConnectionCharsetMetadataProvider.php
  src/Platforms/MySQL/CollationMetadataProvider/ConnectionCollationMetadataProvider.php
  src/Platforms/SQLServer/SQL/Builder/SQLServerSelectSQLBuilder.php
  src/Portability/Middleware.php
  src/Query.php
  src/Query/Limit.php
  src/Query/SelectQuery.php
  src/Query/UnionQuery.php
  src/Result.php
  src/SQL/Builder/CreateSchemaObjectsSQLBuilder.php
  src/SQL/Builder/DefaultSelectSQLBuilder.php
  src/SQL/Builder/DefaultUnionSQLBuilder.php
  src/SQL/Builder/DropSchemaObjectsSQLBuilder.php
  src/Schema/ColumnDiff.php
  src/Schema/ComparatorConfig.php
  src/Schema/SchemaDiff.php
  src/Schema/TableDiff.php
  src/Tools/Console/ConnectionProvider/SingleConnectionProvider.php
  src/Tools/DsnParser.php
Labels: BC Break

#6916 Fix query builder code examples
  src/Query/QueryBuilder.php
Labels: Documentation

#6927 Add shorthand name-related methods to schema object editors
  src/Schema/ForeignKeyConstraintEditor.php
  src/Schema/IndexEditor.php
  src/Schema/PrimaryKeyConstraintEditor.php
  src/Schema/UniqueConstraintEditor.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Schema/ForeignKeyConstraintEditorTest.php
  tests/Schema/IndexEditorTest.php
  tests/Schema/PrimaryKeyConstraintEditorTest.php
  tests/Schema/TableTest.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Improvement, Schema Definition, Foreign Keys, Indexes, Primary Keys, Identifiers

#6928 Merge 4.3.x up into 5.0.x
  src/Schema/ForeignKeyConstraintEditor.php
  src/Schema/IndexEditor.php
  src/Schema/PrimaryKeyConstraintEditor.php
  src/Schema/UniqueConstraintEditor.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/UniqueConstraintTest.php
  tests/Functional/UniqueConstraintViolationsTest.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Schema/ForeignKeyConstraintEditorTest.php
  tests/Schema/IndexEditorTest.php
  tests/Schema/PrimaryKeyConstraintEditorTest.php
  tests/Schema/UniqueConstraintEditorTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Merge Up

#6926 feat: improve performance of sql parser
  src/SQL/Parser.php
Labels: Improvement, SQL Parser

#6929 Use shorthand name-related schema object editor methods
  src/Platforms/SQLitePlatform.php
  src/Schema/AbstractSchemaManager.php
  src/Schema/Table.php
  tests/Functional/AutoIncrementColumnTest.php
  tests/Functional/BinaryDataAccessTest.php
  tests/Functional/BlobTest.php
  tests/Functional/ConnectionTest.php
  tests/Functional/DataAccessTest.php
  tests/Functional/Driver/DBAL6024Test.php
  tests/Functional/ExceptionTest.php
  tests/Functional/ForeignKeyConstraintViolationsTest.php
  tests/Functional/ForeignKeyExceptionTest.php
  tests/Functional/LockMode/NoneTest.php
  tests/Functional/ModifyLimitQueryTest.php
  tests/Functional/NamedParametersTest.php
  tests/Functional/Platform/PlatformRestrictionsTest.php
  tests/Functional/PortabilityTest.php
  tests/Functional/PrimaryReadReplicaConnectionTest.php
  tests/Functional/Query/QueryBuilderTest.php
  tests/Functional/ResultMetadataTest.php
  tests/Functional/SQL/Builder/CreateAndDropSchemaObjectsSQLBuilderTest.php
  tests/Functional/Schema/AlterTableTest.php
  tests/Functional/Schema/ForeignKeyConstraintTest.php
  tests/Functional/Schema/MySQLSchemaManagerTest.php
  tests/Functional/Schema/OracleSchemaManagerTest.php
  tests/Functional/Schema/PostgreSQLSchemaManagerTest.php
  tests/Functional/Schema/PrimaryKeyConstraintTest.php
  tests/Functional/Schema/SQLiteSchemaManagerTest.php
  tests/Functional/Schema/SchemaManagerFunctionalTestCase.php
  tests/Functional/Schema/SchemaManagerTest.php
  tests/Functional/TemporaryTableTest.php
  tests/Functional/Ticket/DBAL202Test.php
  tests/Functional/TransactionTest.php
  tests/Functional/TypeConversionTest.php
  tests/Functional/Types/AsciiStringTest.php
  tests/Functional/Types/BigIntTypeTest.php
  tests/Functional/Types/BinaryTest.php
  tests/Functional/Types/EnumTypeTest.php
  tests/Functional/Types/JsonTest.php
  tests/Functional/WriteTest.php
  tests/Platforms/AbstractMySQLPlatformTestCase.php
  tests/Platforms/AbstractPlatformTestCase.php
  tests/Platforms/DB2PlatformTest.php
  tests/Platforms/PostgreSQLPlatformTest.php
  tests/Platforms/SQLServerPlatformTest.php
  tests/Platforms/SQLitePlatformTest.php
  tests/Schema/AbstractComparatorTestCase.php
  tests/Schema/ForeignKeyConstraintTest.php
  tests/Schema/IndexTest.php
  tests/Schema/Platforms/MySQLSchemaTest.php
  tests/Schema/TableTest.php
  tests/Schema/UniqueConstraintTest.php
Labels: Improvement, Schema Definition, Foreign Keys, Indexes, Primary Keys, Identifiers

#6933 Simplify Postgres column introspection
  src/Platforms/PostgreSQLPlatform.php
  src/Schema/PostgreSQLSchemaManager.php
Labels: PostgreSQL, Types, Schema Introspection, Columns

#6934 Update TableEditor API
  src/Schema/Exception/InvalidTableDefinition.php
  src/Schema/Table.php
  src/Schema/TableEditor.php
  tests/Schema/TableEditorTest.php
Labels: Improvement, Schema Definition, Tables, Identifiers

#6936 fix: Normalize boolean parameter binding for native pgsql driver
  src/Driver/PgSQL/Statement.php
  tests/Functional/BooleanBindingTest.php
Labels: Bug, Prepared Statements, pgsql

#6931 Clean up SQL Server column type parsing
  src/Schema/SQLServerSchemaManager.php
  tests/Functional/Ticket/DBAL461Test.php
Labels: SQL Server, Types, Schema Introspection, Columns
